a.to-the-top(href="#{route.url}#top") To the top

footer(data-view="/views/partials/footer")
  section.stats <strong>#{stats.users}</strong> members have started <strong>#{stats.topics}</strong> topics containing <strong>#{stats.posts}</strong> posts
