header
  include ../partials/breadcrumbs
  section.summary
    h1 #{local.discussion.title}
    if local.discussion.description
      p !{local.discussion.description}

section.topics
  header
    h2 #{local.discussion.topics_formatted} Announcement#{ local.discussion.topics != 1 ? "s" : "" }
    include ../partials/pagination
    if session.moderate_discussions
      nav.actions
        ul
          li.new-announcement
            a(href="topic/action/startAnnouncement") Make an announcement
  if local.topics
    each topic in local.topics
      include ../partials/announcement
  else
    p There are no current announcements.

include ../partials/previous-and-next
