header
  section.summary
    h1 Account Reactivation Required
    p You've been signed out because you updated your e-mail address. We've sent you an e-mail with a link to reactivate your account.

section
  h2 Why is this necessary?
  p We understand this is an inconvenience, but we need to have a valid e-mail address on file for various reasons, like preventing spammers and banning trolls.
  p If it were possible for a user to change their e-mail address to a fake account and then continue to use the forum, they could spam away and we'd only be able to ban the fake e-mail address. It would be easy for them to sign up again using a valid e-mail address, activate their account, change their e-mail again, then continue trolling. Requiring reactivation puts an extra burden on spammers, making your overall forum experience better.
