h1 Bookmark a Post
    
section.post-bookmark-form
  form#post-bookmark-form(action="post/#{url.post}/action/bookmarkForm" method="post" novalidate)
    .data
      input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
      ul
        li.notes.textarea.required
          label(for="notes")
            | Notes
          textarea(id="notes" name="notes" required) #{form.notes}
    .actions
      ul
        li.primary.save
          input(name="formAction" type="submit" value="Save bookmark")
        li.secondary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back

!= include.post
