section.summary
  h1 Bookmark a post
  p You can save posts in your forum bookmarks so you can find them quickly later.

section.form.post-bookmark
  form#post-bookmark-form(action="post/id/#{url.id}/action/bookmarkForm" method="post" novalidate)
    input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
    ul.data
      li.notes.textarea.required
        label(for="notes")
          | Notes
        textarea#notes(name="notes" rows="4" required) #{form.notes}

    ul.actions
      li.primary.save
        input(name="formAction" type="submit" value="Save bookmark")

!= include.post
