h1 Report a Post
    
section.post-report-form
  if report && report.message
    p.message
      = report.message
  form#post-report-form(action="post/#{url.post}/action/reportForm" method="post" novalidate)
    .data
      input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
      ul
        li.report-reason.textarea.required
          label(for="reason")
            | Why are you reporting this post?
          textarea#reason(name="reason" rows="4" required) #{form.reason}
    .actions
      ul
        li.primary.report
          input(name="formAction" type="submit" value="Send report")
        li.secondary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back

!= include.post
