section.summary
  h1 Discuss The Force Awakens:
  p
    a(href="topic/THE-FORCE-AWAKENS-Episode-VII-Discussion-SPOILER-THREAD-See-OP-For-Trailer-Teaser-Links-Trailer-is-out/id/16649") Spoiler Thread
  p
    a(href="topic/Star-Wars-Episode-VII-to-be-directed-by-JJ-Abrams-NON-SPOILER-THREAD/id/15121") Non-Spoiler Thread

section.news
  h2 (Really) Old News

  article
    time December 10, 2009

    p We've received many requests to post a new petition pushing for the proper restoration of the theatrical cuts of the original Star Wars trilogy.

    p [link removed, petition is dead]

    p Please read and sign the petition, then share it.



  article
    time April 2, 2008

    p After a long development period, <a href="http://originaltrilogy.com/forum/topic.cfm/New-forum-software-please-read/forum/2/topic/9146/" title="originaltrilogy.com forum topic regarding the launch of our new forum software">originaltrilogy.com has launched the beta of its new forum software</a>. While new forum software in and of itself isn't terribly exciting, we developed this software from the ground up in-house and are very proud of the results. <a href="http://originaltrilogy.com/forum/category.cfm/Forum-Software-and-Web-Site/category/3/" title="originaltrilogy.com forum category dedicated to bug reports, feature requests, and other site feedback">We appreciate your feedback</a> and will be improving the software over time based on your input.

    p If you haven't already, please <a href="http://originaltrilogy.com/forum/create-an-account.cfm" title="originaltrilogy.com forum registration form">sign up</a> and become part of the community.


  article
    time June 9, 2007

    p This site has grown beyond its original purpose over the last year or so. Something sprung out of <a href="http://originaltrilogy.com/forum/" title="originaltrilogy.com forum">our forums</a> that we didn't expect: a new type of user community geared toward the art of &quot;fan editing.&quot;

    p For those of you who don't know, a fan edit is a fan-made alternative version for an existing film, made by by the insertion, deletion or re-ordering of scenes within the movie. Other additions might include a new soundtrack or cleaned up special effects. It's fascinating to see how the tone and story of a film can completely change because of a different editor's interpretation of the materials.

    p What does this have to do with Star Wars? Well, the grandaddy of all fan edits&mdash;the one that started it all&mdash;is called <strong>The Phantom Edit</strong>, and it's a fan edit of <strong>Star Wars: Episode I - The Phantom Menace</strong>. Discussions about this fan edit got other people interested in the art of fan editing, and it snowballed from there. We now have a forum category dedicated to <a href="http://www.originaltrilogy.com/forum/categories.cfm?catid=9" title="OriginalTrilogy.com Star Wars Fan Edits and Preservation Efforts forum">Star Wars fan edits</a> and another category dedicated to <a href="http://www.originaltrilogy.com/forum/categories.cfm?catid=11" title="OriginalTrilogy.com Fan Edits and Preservation Efforts for films other than Star Wars">fan edits of films other than Star Wars</a>.

    p The community got so active that we decided it deserved its own place to grow. To that end, we're pleased to announce the beta launch of <a href="http://fanedits.com/" title="Fanedits.com home page">fanedits.com</a>, a wiki-style site dedicated to fan edits and other fan projects.

    p For complete details, see <a href="http://www.originaltrilogy.com/forum/messageview.cfm?catid=7&threadid=8121" title="OriginalTrilogy.com forum topic announcing the launch of fanedits.com">this forum topic announcing the fanedits.com beta launch</a>. We discuss both current and upcoming features, and we also ask for your input so fanedits.com can be everything the community needs.


  article
    time May 24, 2006

    p It seems Lucasfilm's PR department found some spare time to craft a nice form response to all the e-mails they've received from the many Star Wars fans angered by the upcoming non-anamorphic DVD release of the OOT. For those of you who haven't read it yet, <a href="Lucasfilm_PR_response.cfm">you can view the full text of the e-mail here</a>. Disappointing, to say the least.

    p The choice with which we are now faced is whether or not we continue to press the issue. Obviously, petitioning Lucasfilm directly has had no effect other than your typical PR BS. Where do we turn now?

    p One of our forum members, ADigitalMan, has started <a href="http://originaltrilogy.com/forum/messageview.cfm?catid=2&threadid=5462">a thread in the originaltrilogy.com forum</a> to stockpile the contact information of various media outlets. ADM has posted many contacts in his initial post, and I encourage you to sign up and add your own to the list.

    p Contact these media outlets and express your concerns. Send the list to your friends and have them send a few e-mails. Get the word out in the mainstream press so people everywhere know what a sham this upcoming DVD release is. Don't let Lucasfilm profit by pushing the OOT as the main selling point of this DVD release while simultaneously dumping them on the second disc with a shoddy non-anamorphic transfer.

    p If Lucasfilm continues in their refusal to spend the time and money on a proper OOT DVD release, all I can ask is that they give whatever elements they have to Criterion and let them produce the absolute best Star Wars DVD box set possible. Lucasfilm says they can't (read: won't) devote the time and money to this project. I'm sure Criterion would gladly accept the challenge and notoriety that would come from such a release.


  article
    time May 18, 2006

    p Yes, we saw the news on The Digital Bits. The upcoming DVDs of the original original trilogy (how stupid does that sound?) will not be <a href="http://www.thedigitalbits.com/articles/anamorphic/" target="_blank">anamorphic widescreen</a>. We're going to get lousy letterbox transfers. We can get The People Under the Stairs with an anamorphic transfer so good that it could fool less experienced viewers into thinking they're watching HD, but we can't get the creator of the most popular science fiction franchise of all time to show his films the same level of respect.

    p We received numerous negative e-mails when we suggested the possibility that these DVDs might be sourced from the old laserdisc masters. Thanks to all of you who wrote and insulted the site and its members. Unfortunately, our insider tip turned out to be correct.

    p There is something you can do: deluge Lucasfilm with letters, faxes, phone calls, and e-mails. We happily provide this contact information so that you can get in touch with Lucasfilm directly and voice your displeasure regarding their decision to insult lifetime fans with a substandard release.

    p
      strong
        | Jim Ward<br>
        | Senior Vice President<br>
        | Lucasfilm Ltd.<br>
        | 5858 Lucas Valley Rd.<br>
        | Nicasio, CA 94946

    p
      strong
        | Phone: 415-662-1800<br>
        | Fax: 415-448-2495

    p
      strong E-mail: <a href="mailto:publicity@lucasfilm.com">publicity@lucasfilm.com</a>

    p Be vocal, but be polite.


  article
    time May 8, 2006

    p Wow.

    p That was my reaction when I heard the announcement.

    p Hoax.

    p That was my next thought.

    p <a href="http://www.starwars.com/episode-iv/release/video/news20060503.html" target="_blank">But there it was on starwars.com</a>, which is about as official as you can get when it comes to the trilogy of trilogies.

    p Turns out it's true. The real Star Wars fans&mdash;the hardest of the hardcore, the most devout, the whiniest, the bitchiest&mdash;are finally getting their wish. This September, the original, unaltered, and beautifully flawed Star Wars trilogy will be released to the public on DVD as <strong>bonus material</strong> accompanying the 2004 editions.

    p That's the description from the press release. The films that defined a generation and still inspire kids of all ages three decades after their creation are now relegated to the second disc as bonus material.

    p Whatever. I'm just glad we're finally getting them.

    p But what are we getting exactly? Some disgruntled fans are already speculating that we're going to get a second-rate set of DVDs sourced from the same masters used to create the Definitive Collection laserdiscs.

    p I prefer to take a more optimistic view&mdash;cautiously optimistic&mdash;and assume we're getting a new transfer from the best film source materials Lucasfilm has available. No digital cleanup, no recomposited special effects, no remastered audio. Just a nice transfer from fairly clean elements with all the original warts intact.

    p Fine with me. Most of the &quot;improvements&quot; in the 2004 DVDs related to cleanup are anything but, and as long as we get correct black levels and proper color temperature this time around, I'll be thrilled.

    p All criticisms aside, I'm looking forward to these DVDs. I'd look forward to them a lot more if they included a $40 mail-in rebate for anyone who bought the 2004 box set, but I guess that's what ebay is for.

    p Now, I must address the future of originaltrilogy.com, and far sooner than I anticipated. I've received many inquiries regarding the site's purpose, as in: "Does it even have one now?" For the time being, the petition is no longer accepting new signatures. I'll post the complete list of signatures with the official tally shortly. However, I will not be shutting down originaltrilogy.com. I value <a href="forum/">the community we've established in our forum</a> and realize its scope has gone beyond Star Wars.

    p The focus of our forum's activities, which was to secure a DVD release of the original trilogy, has slowly given way to the fan edits and film preservation projects that grew out of a desire to bring the original Star Wars trilogy to the DVD format using the existing laserdiscs as source material. The most active parts of the forum have been dedicated to these pursuits for quite some time.

    p What began as originaltrilogy.com will evolve into a new site called fanedits.com, a hub to serve the fan edit and film preservation community. My original timetable had this transition occurring toward the end of 2006, but with the announcement of the original trilogy on DVD, that timetable has been accelerated.

    p I've been promising my forum members major changes for almost a year now. The time has come to make those changes a reality. I hope those of you who've followed the site and taken part in its activities will continue to do so as it grows into something new and exciting.

    p I offer my most sincere gratitude to everyone who supported the petition. Through your banners, links, e-mails, and forum posts, you drove tens of thousands of signatures to what could've easily been yet another online petition with no real backbone.

    p I also offer my thanks to George Lucas for hearing us, the biggest Star Wars fans in the world, and giving us what we've been hoping for.

    p To those of you who signed the petition, I offer my biggest thanks, my best wishes, and my congratulations.

    p We won.
