header
  section.summary
    h1 Account reactivation required

section.content
  p You've been signed out because you updated your e-mail address. We sent you an e-mail with a link to reactivate your account at your new address.
  h2 Why is this necessary?
  p We understand this is an inconvenience, but we need to have a valid e-mail address on file for various reasons, like preventing spammers and banning trolls.
