header
  section.summary
    h1 An open letter to Disney and Lucasfilm regarding the 40th anniversary of Star Wars

section.letter
  p Dear Disney and Lucasfilm,

  p As we celebrate the 40th anniversary of Star Wars — the movie that started it all — the guest of honor is missing. Where is that film? The original 1977 version. The one we grew up with. The one we saw more times than any other movie before or since. The movie that changed our lives forever.

  img.pvg(src="PvG.jpg")

  p Whether young or old, whether we saw it in a theater or on home video, it prompted a desire to make movies or just tell stories of our own. George Lucas lit a spark that remains within us today.

  p One thing we all share are the memories of where and with whom we saw Star Wars, and even of shooting down imaginary TIE fighters out the back window of the car on the way home. For others, it was a brightly shining light in the middle of a turbulent childhood. If Luke and his friends could triumph over adversity, maybe we could too.

  p All these years later, we would love to revisit the Original Trilogy again, to recapture the magic of a long time ago, in a movie theater or living room far far away. Those of us with families want to be able to show our kids exactly what we saw when we were their age, and relive it with them. It should be such a simple thing to do.

  p Only it isn’t.

  p Watching the original versions means relying on old analog video formats that inch closer to extinction each year. And the now out of print bonus DVD's from 2006, which used video masters made in 1993, are hardly better, if one can find them.

  p None of us ever imagined that these historic versions might fade from memory, ultimately, disappearing from the collective consciousness altogether. To the point where CGI scenes created in 1997 are now mistaken for the innovative groundbreaking FX technology of the 1970s. Film history is being obscured, if not rewritten. 
    
  p Today, we live in an era in which even the most obscure of cult films are respected enough to be meticulously restored and made available to the public. Shouldn't a movie as loved and as culturally significant as Star Wars, and its two sequels, deserve the same treatment in their original form?

  p The Special Editions have their place, and we will not bemoan their existence. But there is room for all versions of Star Wars, The Empire Strikes Back, and Return of The Jedi to coexist. The original theatrical versions deserve to be seen again, in the absolute best quality afforded by modern cinema and 21st Century home video formats, so that new generations can experience them.

  p We want to give you our money for the original theatrical versions; we really do! Please give us that opportunity. At least give us hope that we will be able to do so soon.

  p That is all we ask.

  p Sincerely yours,

  p The Staff and Members of <a href="http://originaltrilogy.com/">Originaltrilogy.com</a>
