header
  a.home(href="/" title="Go to our home page.")
    != logo
  a.sign-in(href="sign-in") Sign In
  nav
    ul
      li.news
        a(href="") News
      li.discussions
        a(href="discussions") Discussions
      li.sign-in
        a(href="sign-in") Sign In
      li.register
        a(href="register") Register
      li.help
        a(href="help") Help
