header
  a.home(href="/" title="Go to our home page.")
    <svg class="logo"><use xlink:href="themes/default/images/symbols.svg#logo-horizontal"></use></svg>
  a.sign-in(href="sign-in") Sign In
  nav
    section.donate
      | <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      | <input type="hidden" name="cmd" value="_donations" />
      | <input type="hidden" name="business" value="donations@originaltrilogy.com" />
      | <input type="hidden" name="currency_code" value="USD" />
      | <input type="submit" name="submit" value="Donate with PayPal" />
      | <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      | </form>
    ul.content
      li.discussions
        a(href="discussions") Discussions
      li.about
        a(href="content/About/id/1") About
      li.help
        a(href="content/Help/id/2") Help
    ul.account
      li.sign-in
        a(href="sign-in") Sign In
      li.register
        a(href="register") Register
