header(class="authenticated #{ updates ? 'updates' : '' }")
  a.home(href="/" title="Go to our home page.")
    != logo
  nav
    ul.content
      li.discussions
        a(href="discussions") Discussions
      li.about
        a(href="about.html") About
      li.help
        a(href="help.html") Help
    ul.account
      if unread.topics
        li.subscriptions.updates
          a(href="subscriptions") Subscriptions <span class="count">(#{unread.topics.length} unread)</span>
      else
        li.subscriptions
          a(href="subscriptions") Subscriptions
      if unread.privateTopics
        li.private-topics.updates
          a(href="private-topics") Private Topics <span class="count">(#{unread.privateTopics.length} unread)</span>
      else
        li.private-topics
          a(href="private-topics") Private Topics
      li.account
        a(href="account") Your Account
      li.sign-out
        a(href="sign-out") Sign Out
  section.status
    if unread.privateTopics
      a.private-topics.updates(href="private-topics" title="You have unread private topics.") Private Topics
    else
      a.private-topics(href="private-topics" title="You have no private topic updates.") Private Topics
    a.account.avatar(href="account") Your Account
      img(src="avatars/#{session.userID}.jpg")
