header
  a(href="/") originaltrilogy.com
  nav
    ul
      li.forum-home
        a(href="#{config.main.basePath}") Forum Home
      li.discussion-categories
        a(href="#{config.main.basePath}discussions") Discussion Categories
      li.sign-in
        a(href="#{config.main.basePath}sign-in") Sign In
      li.register
        a(href="#{config.main.basePath}register") Register
