header
  a.home(href="/" title="Go to our home page.")
    <svg class="logo"><use xlink:href="themes/default/images/symbols.svg#logo-horizontal"></use></svg>
  a.sign-in(href="sign-in") Sign In
  nav
    ul.content
      li.discussions
        a(href="discussions") Discussions
      li.about
        a(href="content/about") About
      li.help
        a(href="content/help") Help
    ul.account
      li.sign-in
        a(href="sign-in") Sign In
      li.register
        a(href="register") Register
