header
  a(href="/") originaltrilogy.com
  nav
    ul
      li.forum-home
        a(href="") Forum Home
      li.discussion-categories
        a(href="discussions") Discussion Categories
      li.private-topics
        a(href="private-topics") Private Topics
      li.account
        a(href="account") Your Account
      li.help
        a(href="help") Help
      li.sign-out
        a(href="sign-out") Sign Out
