header#top
  a(href="/") originaltrilogy.com
  nav
    ul
      li.news
        a(href="") News
      li.discussions
        a(href="discussions") Discussions
      li.private-topics
        a(href="private-topics") Private Topics
      li.account
        a(href="account") Your Account
      li.help
        a(href="help") Help
      li.sign-out
        a(href="sign-out") Sign Out
