header(class="authenticated #{ updates ? 'updates' : '' }")
  a.home(href="/" title="Go to our home page.")
    != logo
  if !updates
    a.private-topics(href="private-topics" title="You have no new private topic updates.") Private topics
  else
    a.private-topics.updates(href="private-topics" title="You have unread private topics.") <span class="count">#{updates.length}</span> private topic updates
  a.account.avatar(href="account") Your Account
    img(src="avatars/#{session.userID}.jpg")
  nav
    ul
      li.news
        a(href="") News
      li.discussions
        a(href="discussions") Discussions
      li.private-topics
        a(href="private-topics") Private Topics
      li.account
        a(href="account") Your Account
      li.help
        a(href="help") Help
      li.sign-out
        a(href="sign-out") Sign Out
