header#top
  a(href="/") originaltrilogy.com
  nav
    ul
      li.forum-home
        a(href="") Forum Home
      li.discussion-categories
        a(href="discussions") Discussion Categories
      li.sign-in
        a(href="sign-in") Sign In
      li.register
        a(href="register") Register
      li.help
        a(href="help") Help
