if local.previousAndNext
  nav.previous-and-next
    ul
      each page in local.previousAndNext.pages
        li(class=page.class + " page-" + page.number)
          a(href=page.url)
            = page.text
