@import '../_variables';
@import '../lib/normalize';
@import '../baseline';

@font-face {
  font-family: 'glyphs';
  src: url('fonts/glyphs/icomoon-subset.eot');
  src: url('fonts/glyphs/icomoon-subset.eot?#iefix') format('embedded-opentype'),
     // url('fonts/glyphs/icomoon-subset.woff2') format('woff2'),
     url('fonts/glyphs/icomoon-subset.woff') format('woff'),
     url('fonts/glyphs/icomoon-subset.ttf') format('truetype'),
     url('fonts/glyphs/icomoon-subset.svg#glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-feature-settings: 'liga';
}

@import '../global';
@import '../discussions';
@import '../discussion';
@import '../topic';
@import '../post';
@import '../conversation';
@import '../account';
