/////////////////////////
////      fonts      ////
/////////////////////////

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Titillium+Web:400,600';



//////////////////////
////    colors    ////
//////////////////////
body {
  @include bodyFont;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 92%);

  // Navigation highlighting
  &[data-controller="index"] nav li.news a,
  &[data-controller="discussions"] nav li.discussions a,
  &[data-controller="discussion"] nav li.discussions a,
  &[data-controller="announcements"] nav li.discussions a,
  &[data-controller="announcement"] nav li.discussions a,
  &[data-controller="topic"][data-view="topic"] nav li.discussions a,
  &[data-controller="subscriptions"][data-view="subscriptions"] nav li.subscriptions a,
  &[data-controller="topic"][data-view="private-topic"] nav li.private-topics a,
  &[data-controller="topic"][data-view="start-private"] nav li.private-topics a,
  &[data-controller="private-topics"] nav li.private-topics a,
  &[data-controller="sign-in"] nav li.sign-in a,
  &[data-controller="register"] nav li.register a,
  &[data-controller="account"] nav li.account a,
  &[data-controller="about"] nav li.about a,
  &[data-controller="help"] nav li.help a,
	> header nav li a:hover {
    background-color: hsl(227,18%,36%);
  }
}

html.cssanimations.csstransforms span.loading-indicator {
  border-top-color: #666;
  border-right-color: #c8c8c8;
  border-bottom-color: #666;
  border-left-color: #666;
}

a {
  color: hsl(227, 18%, 30%);

  &:hover {
    text-decoration: underline;
  }
}

time {
  color: hsl(227,10%,40%);
}

a.home {
  .logo {
    fill: hsl(0, 0%, 100%);
  }
}

body {
  > header {
    background-color: hsl(227,18%,22%);
    box-shadow: 0 0 1.6vw hsl(227,18%,8%);

    nav {
      li {
        a {
          color: hsl(0,0%,100%);

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    section.status {
      a.private-topics {
        &::before {
          color: hsl(0, 0%, 100%);
        }
      }
    }
  }

  &.floating-header-active > header {
    background-color: hsla(227,18%,22%,0.95);
  }
}

main {
	background-image: linear-gradient(180deg,hsl(227,18%,96%),hsl(227,18%,92%) 100px,hsl(227,18%,100%) 0);
}


// The menu button and sliding nav are used on mobile only. Much easier to limit
// here than to overwrite within the 600px media query later.
@media only screen and (max-width: 599px) {
  .slide-menu {
    background-color: hsl(227,18%, 18%);

    a {
      color: hsl(227, 41%, 80%);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .menu-shadow {
    background-color: hsla(227,1%,0%,0.5);
  }
}

main {
  > header {
    background: hsl(227,18%,96%);
    border-bottom: 1px solid hsl(227,18%,90%);
  }
}

section {
  &.summary {
    > p {
      @include bodyFont(normal);
      color: hsl(0,0%,30%);
    }
  }

  &.notice {
    background-color: hsl(0,18%,18%);
    border-color: hsl(0,18%,40%);

    &::before {
      color: hsl(0,100%,90%);
    }

    &.error,
    &.locked,
    &.banned {
      background: hsl(0,40%,50%);

      &::before,
      a {
        color: white;
      }
    }
  }

  &.announcements {
    background: hsl(227,18%,98%);
    border-bottom: 1px solid hsl(227,18%,92%);

    article {
      border-color: hsl(0, 0%, 90%);
    }
  }

  &.content {
    color: hsl(0,0%,5%);

    blockquote {
      color: #d2d2d2;
      background-color: hsl(0,18%,24%);
      border-color: hsl(0,18%,50%);

      a.expand {
        &:hover {
          background: hsl(0,18%,30%);
        }
      }
    }

    &.signature blockquote {
      background-color: hsl(0,18%,19%)
    }
  }
}

nav.pagination {
  ul {
    color: #A5B2D9;
  }
  li {
    a {
      color: hsla(0,0%,0%,0.7);
      background-image: linear-gradient(180deg,hsl(227,18%,92%),hsl(227,18%,84%) 98%);
      border-color: hsl(227,18%,76%);
    }
    &.current a,
    &:hover a {
      color: hsla(0,0%,100%,0.9);
      background-image: linear-gradient(180deg,hsl(227,15%,60%),hsl(227,15%,46%) 98%);
    }
  }
}

nav.actions {
  a {
    color: hsl(0,0%,100%);
    background-image: linear-gradient(180deg,hsl(227,18%,40%),hsl(227,18%,26%) 98%);
  }
}

// Topic counts for forums, post counts for topics
dl.content-stats {
  color: hsl(0, 0%, 95%);
  background: hsl(227,12%,60%);
  border: none;
}

article {
  border-color: hsl(0, 0%, 92%);

  &.unread,
  &.updated {
    &::before {
      background-color: hsl(227,22%,70%);
    }
  }
}

h1 {
  color: hsl(0, 0%, 20%);
}

footer {
  color: hsl(0,0%,90%);
  background-color: hsl(227,18%,20%);

  section.copyright {
    p {
      color: hsl(227,10%,60%);
    }
    a {
      color: hsl(227,10%,60%);
    }
  }
}



/////////////////////////
////      forms      ////
/////////////////////////

form {
  label {
    color: hsl(227,18%,30%);
  }
  p.label-note {
    color: hsl(0,0%,50%);
  }
  input,
  select,
  textarea {
    border-color: hsl(0,0%,90%);
    background-color: hsl(227,18%,100%);

    &:focus {
      outline: none;
      border-color: hsl(0,0%,50%);
    }
  }

  input[type="checkbox"] {
    &:checked {
      &::after {
        color: hsl(227,18%,40%);
      }
    }
  }

  input[type="radio"] {
    &:checked {
      &::after {
        background-color: hsl(0,100%, 90%);
      }
    }
  }

  ul.actions {
    > li {
      a, input[type="submit"] {
        color: hsl(0,0%,100%);
        background-image: linear-gradient(180deg,hsl(227,18%,40%),hsl(227,18%,26%) 98%);
      }
    }
  }
}


/////////////////////////
////     tables      ////
/////////////////////////

table {
  color: hsl(0,0%,85%);

  th,
  td {
    border-color: hsl(0,18%,50%);
  }

  th {
    background: hsl(0,18%,30%);
  }
}

// Avatars
a.avatar {
  border: none !important;
}

// Screens wider than 600px
@media only screen and (min-width: 600px) {

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              background-color: hsl(227,18%,26%);
              box-shadow: 0 2px 6px hsl(227,18%,10%);

              &::after {
                background-color: hsl(227,18%,26%);
              }
            }
          }
        }
      }
    }
  }

  section {
    &.summary {
      > nav {
        &::before {
          background-image: linear-gradient(90deg,hsla(227,18%,50%,0),hsla(227,18%,50%,1),hsla(227,18%,50%,0));
        }
      }
    }
  }

}

// Screens wider than 720px
@media only screen and (min-width: 720px) {
  body {
    > header {
      box-shadow: 0 0 6px hsl(227, 0%, 10%);
    }
  }
}


////////////////////////////
//   discussion pattern   //
////////////////////////////

body[data-controller="discussion"][data-view="discussion"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"],
body[data-controller="subscriptions"][data-view="subscriptions"] {

  main > p {
    color: white;
  }
  article.topic {
    dl.byline {
      dd.author {
        color: #a5b2d9;
      }
    }
  }

  @media only screen and (min-width: 720px) {
    section.topics {
      article.topic {
        dd.date {
          &::before {
            color: #bfbfbf;
          }
        }
      }
    }
  }

}

///////////////////
//  index view   //
///////////////////

body[data-view="index"] {
  time {
    color: #acacac;
  }
}

//////////////////////////////
//        post styles       //
//////////////////////////////

// Global post styles
article.post {
  background-color: hsl(0,0%,100%);
}

//////////////////////
//  topic patterns  //
//////////////////////

body[data-controller="topic"][data-view="topic"],
body[data-controller="topic"][data-view="private-topic"],
body[data-controller="announcement"][data-view="announcement"] {

  main {
    background-image: linear-gradient(180deg,hsl(227,18%,96%),hsl(227,18%,92%) 100px,hsl(227,18%,98%) 0);
  }

  section.summary {
    dl.byline {
      dd {
        color: hsl(0,41%,80%);

        &.date {
          color: hsl(0,0%,67%);
        }
      }
    }
  }

  section.posts {
    > nav {
      // background: hsl(0,18%,22%);
    }
  }

  article.post {
    header {
      background: hsl(227,18%,96%);

      dd {
        &.time {
          color: #acacac;
        }
      }
    }
    section.content.signature {
      color: hsl(0,0%,70%);
      background-color: hsl(0,0%,100%);

      p {
        color: hsl(0,0%,40%);
      }
    }
  }

  @media only screen and (min-width: 600px) {

    // First page
    &[data-page="1"] {
      article.post:first-of-type {
        section.content {
          border-right: none;
          border-left: none;
        }
      }
    }

    article.post {
      header {
        background: none;
      }
      section.content.post {
        border-top: 1px solid;
        border-right: 1px solid;
        border-left: 1px solid;
        border-color: hsl(227,18%,90%);
        background-color: hsl(0,0%,100%);

        &::before {
          border-bottom: 1px solid;
          border-left: 1px solid;
          border-color: hsl(227,18%,90%);
          background-color: hsl(0,0%,100%);
        }
      }
      nav.actions {
        border-right: 1px solid;
        border-left: 1px solid;
        border-color: hsl(227,18%,90%);
        background-color: hsl(0,0%,100%);
      }
      &[data-signature="false"] {
        nav.actions {
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          border-bottom: 1px solid;
          border-color: hsl(227,18%,90%);
        }
      }
      section.content.signature {
        border-top: none;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-color: hsl(227,18%,90%);
        background-color: hsl(0,0%,100%);
      }
    }

  }
}

// Private topic view
body[data-controller="topic"][data-view="private-topic"] {
  ul.participants {
    li {
      &:nth-child(n+2) {
        &::before {
          color: hsl(0,0%,85%);
        }
      }
      &:last-child {
        &::before {
          color: hsl(0,0%,85%);
        }
        &::after {
          color: hsl(0,0%,85%);
        }
      }
    }
  }
}


///////////////////
//   user view   //
///////////////////

body[data-view="user"] {
  article.post {
    header {
      background: hsl(0,18%,16%);
    }
  }

}
