/////////////////////////
//       Variables     //
/////////////////////////

// Icons
$gBanned:   '\ed64';
$gChecked:  '\ed6c';
$gError:    '\ed68';
$gLock:     '\eb52';
$gMenu:     '\ec6a';
$gNotice:   '\ed4d';
$gPrivate:  '\ec23';
$gSelect:   '\ee38';
$gSuccess:  '\ecff';
$gUpdates:  '\eac2';
$gNoUpdates: '\eac4';


/////////////////////////
//        Mixins       //
/////////////////////////

// Preserve original color values
@function hsl($h, $s, $l) {
  @return unquote('hsl(#{$h}, #{$s}, #{$l})');
}

@function hsla($h, $s, $l, $a) {
  @return unquote('hsla(#{$h}, #{$s}, #{$l}, #{$a})');
}

@mixin bodyFont($style: normal, $weight: 400) {
	font-family: 'Open Sans', 'sans serif';
	font-style: $style;
	font-weight: $weight;
  text-rendering: optimizeLegibility;
}

@mixin titleFont($style: normal, $weight: 600) {
	font-family: 'Titillium Web', 'Open Sans', 'sans serif';
	font-style: $style;
	font-weight: $weight;
  text-rendering: optimizeLegibility;
}

@mixin button($color: light, $size: 91%, $padding: 2.5vw 3.5vw) {
  display: block;
	padding: $padding;
	font-size: $size;
  border-radius: 0.6vw;
  border: none;
	@include bodyFont();
	line-height: 1;
  text-align: center;
  text-decoration: none;
	text-transform: uppercase;
  cursor: pointer;

  @media only screen and (min-width: 600px) {
    border-radius: 0.4vw;
  }
  @media only screen and (min-width: 720px) {
    border-radius: 0.3rem;
  }

  @if $color == 'light' {
		color: #373B49;
		background-image: linear-gradient(180deg,hsl(0,75%,90%),hsl(0,40%,75%) 98%);

		&:hover {
			color: hsla(227,41%,83%,1);
      background-image: linear-gradient(180deg,hsl(0,18%,34%) 0,hsl(0,18%,30%) 98%);
    }
  } @else if $color == 'dark' {
		color: #A5B2D9;
		background-image: linear-gradient(180deg, hsl(0,18%,22%) 0%, hsl(0,18%,16%) 98%);
		border: 1px solid #474F66;

		&:hover {
			color: hsl(0,41%,13%);
			background-image: linear-gradient(180deg,hsl(0,64%,86%),hsl(0,32%,68%) 98%);
    }
  } @else if $color == 'lightGhost' {
    color: hsl(0,100%,90%);
		box-shadow: 0 0 0 1px hsl(0,100%,90%) inset;
  } @else if $color == 'darkGhost' {
    color: hsl(0,18%,25%);
		box-shadow: 0 0 0 1px hsl(0,18%,25%) inset;
  }
}

@mixin debutton {
	text-transform: initial;
	background: none;
	color: hsl(0,41%,75%);
}

@mixin icon ($content) {
  content: $content;
  font-family: glyphs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

// Creates an icon by replacing text with a glyph
@mixin textToIcon ($iconSize, $content) {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 0 0 #{$iconSize + 'vw'};
	width: #{$iconSize + 'vw'};
	height: #{$iconSize + 'vw'};
	text-indent: 110%;
	overflow: hidden;
	text-decoration: none;
	line-height: #{$iconSize * 1.1 + 'vw'};

	&::before {
		position: absolute;
		top: 50%;
		margin-top: -#{$iconSize / 2 + 'vw'};
		left: 50%;
		margin-left: -#{$iconSize / 2 + 'vw'};
		display: block;
		width: #{$iconSize + 'vw'};
		height: #{$iconSize + 'vw'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize + 'vw'};
		text-indent: 0;
	}
}

// Adds an icon in front of an anchor's text
@mixin iconBeforeText ($iconSize, $content) {
	text-decoration: none;
	line-height: #{$iconSize * 10 + 'px'};
	line-height: #{$iconSize + 'rem'};
	width: auto;
	text-indent: 0;

	&::before {
		display: inline;
		vertical-align: top;
		width: #{$iconSize * 10 + 'px'};
		width: #{$iconSize + 'rem'};
		height: #{$iconSize * 10 + 'px'};
		height: #{$iconSize + 'rem'};
		padding-right: #{$iconSize * 10 / 4 + 'px'};
		padding-right: #{$iconSize / 4 + 'rem'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize * 10 + 'px'};
		font-size: #{$iconSize + 'rem'};

	}
}

// Adds an icon after an anchor's text
@mixin iconAfterText ($iconSize, $content) {
	text-decoration: none;
	line-height: #{$iconSize * 10 + 'px'};
	line-height: #{$iconSize + 'rem'};
	width: auto;

	&::after {
		display: inline;
		vertical-align: top;
		width: #{$iconSize * 10 + 'px'};
		width: #{$iconSize + 'rem'};
		height: #{$iconSize * 10 + 'px'};
		height: #{$iconSize + 'rem'};
		padding-left: #{$iconSize * 10 / 4 + 'px'};
		padding-left: #{$iconSize / 4 + 'rem'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize * 10 + 'px'};
		font-size: #{$iconSize + 'rem'};
	}
}


/////////////////////////
////      fonts      ////
/////////////////////////

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Titillium+Web:400,600';



//////////////////////
////    colors    ////
//////////////////////
body {
  @include bodyFont;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 100%);

  // Navigation highlighting
  &[data-controller="index"] nav li.news a,
  &[data-controller="discussions"] nav li.discussions a,
  &[data-controller="discussion"] nav li.discussions a,
  &[data-controller="announcements"] nav li.discussions a,
  &[data-controller="announcement"] nav li.discussions a,
  &[data-controller="topic"][data-view="topic"] nav li.discussions a,
  &[data-controller="subscriptions"][data-view="subscriptions"] nav li.subscriptions a,
  &[data-controller="topic"][data-view="private-topic"] nav li.private-topics a,
  &[data-controller="topic"][data-view="start-private"] nav li.private-topics a,
  &[data-controller="private-topics"] nav li.private-topics a,
  &[data-controller="sign-in"] nav li.sign-in a,
  &[data-controller="register"] nav li.register a,
  &[data-controller="account"] nav li.account a,
  &[data-controller="about"] nav li.about a,
  &[data-controller="help"] nav li.help a,
	> header nav li a:hover {
    background-color: hsl(227,18%,40%);
  }
}

html.cssanimations.csstransforms span.loading-indicator {
  border-top-color: #666;
  border-right-color: #c8c8c8;
  border-bottom-color: #666;
  border-left-color: #666;
}

a {
  color: hsl(0, 60%, 40%);
}

p {
  color: hsl(0,0%,13%);
}

time {
  color: rgb(191,191,191);
}

a.home {
  .logo {
    fill: hsl(0, 0%, 100%);
  }
}

body > header {
	background-color: hsl(227,18%,30%);
  box-shadow: 0 0 1.6vw hsl(227, 0%, 10%);

  nav {
    li {
      a {
				color: hsl(0,0%,100%);
      }
    }
  }

  section.status {
    a.private-topics {
      &::before {
        color: hsl(0, 0%, 100%);
      }
    }
  }
}

main {
	background-image: linear-gradient(180deg, hsl(0, 50%, 30%) 0, hsl(0, 50%, 30%) 100px, hsl(0, 0%, 96%) 101px);
}


// The menu button and sliding nav are used on mobile only. Much easier to limit
// here than to overwrite within the 600px media query later.
@media only screen and (max-width: 599px) {
  .slide-menu {
    background-color: hsl(0, 50%, 30%);
		box-shadow: 0 0 1.6vw hsl(0, 50%, 18%);

		li {
			a {
				color: hsl(0, 0%, 100%);
			}
		}
  }

  .menu-shadow {
    background-color: hsla(0,1%,0%,0.5);
  }

  body {
    // Navigation highlighting
    &[data-controller="index"] nav li.news a,
    &[data-controller="discussions"] nav li.discussions a,
    &[data-controller="discussion"] nav li.discussions a,
    &[data-controller="announcements"] nav li.discussions a,
    &[data-controller="announcement"] nav li.discussions a,
    &[data-controller="topic"][data-view="topic"] nav li.discussions a,
    &[data-controller="subscriptions"][data-view="subscriptions"] nav li.subscriptions a,
    &[data-controller="topic"][data-view="private-topic"] nav li.private-topics a,
    &[data-controller="topic"][data-view="start-private"] nav li.private-topics a,
    &[data-controller="private-topics"] nav li.private-topics a,
    &[data-controller="sign-in"] nav li.sign-in a,
    &[data-controller="register"] nav li.register a,
    &[data-controller="account"] nav li.account a,
    &[data-controller="about"] nav li.about a,
    &[data-controller="help"] nav li.help a {
      background-color: hsl(0, 50%, 40%);
    }
  }
}

nav.breadcrumbs {
  color: hsl(0, 25%, 65%);
	background-color: hsl(0, 50%, 30%);

  a {
    color: hsl(0, 25%, 65%);
  }
}

main {
  > header {
		background: hsl(0,0%,86%);
  }
}

section {
  &.summary {
		dl.content-stats {
			color: hsl(0, 100%, 95%);
		}
  }

  &.notice {
    background-color: hsl(0,18%,18%);
    border-color: hsl(0,18%,40%);

    &::before {
      color: hsl(0,100%,90%);
    }

    &.error,
    &.locked,
    &.banned {
      background: hsl(0,40%,50%);

      &::before,
      a {
        color: white;
      }
    }
  }

  &.announcements {
    background: hsl(0, 0%, 92%);
  }

  &.content {
    color: hsl(0,0%,85%);

    blockquote {
      color: #d2d2d2;
      background-color: hsl(0,18%,24%);
      border-color: hsl(0,18%,50%);

      a.expand {
        &:hover {
          background: hsl(0,18%,30%);
        }
      }
    }

    &.signature blockquote {
      background-color: hsl(0,18%,19%)
    }
  }
}

nav.pagination {
  ul {
    color: #A5B2D9;
  }
  li {
    &.current {
      a {
        color: hsl(0,41%,13%);
        background-image: linear-gradient(180deg,hsl(0,64%,86%),hsl(0,32%,68%) 98%);
      }
    }
  }
}

// Topic counts for forums, post counts for topics
dl.content-stats {
  border-color: hsl(0, 25%, 65%);
  color: hsl(0, 100%, 40%);
}

article {
  border-color: hsl(0, 0%, 86%);

  &.unread,
  &.updated {
    &::before {
      background-color: hsl(0,100%, 90%);
    }
  }
}

h1 {
  color: hsl(0, 0%, 20%);
}

h2 {
  color: hsl(0,0%,90%);
}

footer {
  background-color: hsl(227, 18%, 30%);
  border-color: hsl(227, 18%, 15%);

  section.copyright {
    p {
      color: hsl(0,18%,60%);
    }
    a {
      color: hsl(0,18%,60%);
    }
  }
}



/////////////////////////
////      forms      ////
/////////////////////////

form {
  label {
    color: white;
  }
  p.label-note {
    color: #CDCDCD;
  }
  input,
  select,
  textarea {
    border-color: hsl(0,18%,30%);
    background-color: hsl(0,18%,32%);

    &:focus {
      outline: none;
      border-color: hsla(227,18%,55%,1);
      background-color: hsla(227,18%,34%,1);
    }
  }

  input[type="checkbox"] {
    &:checked {
      &::after {
        color: hsl(0,100%,90%);
      }
    }
  }

  input[type="radio"] {
    &:checked {
      &::after {
        background-color: hsl(0,100%, 90%);
      }
    }
  }
}


/////////////////////////
////     tables      ////
/////////////////////////

table {
  color: hsl(0,0%,85%);

  th,
  td {
    border-color: hsl(0,18%,50%);
  }

  th {
    background: hsl(0,18%,30%);
  }
}

// Avatars
a.avatar {
  border: none !important;
}

// Screens wider than 600px
@media only screen and (min-width: 600px) {

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              background-color: hsl(0, 0%, 10%);
              box-shadow: 0 2px 6px hsl(0, 65%, 12%);

              &::after {
                background-color: hsl(0, 0%, 10%);
              }
            }
          }
        }
      }
    }
  }

  section {
    &.summary {
      > nav {
        &::before {
          background-image: linear-gradient(90deg,hsla(227,18%,50%,0),hsla(227,18%,50%,1),hsla(227,18%,50%,0));
        }
      }
    }
  }

}

// Screens wider than 720px
@media only screen and (min-width: 720px) {
  body {
    > header {
      box-shadow: 0 0 6px hsl(227, 0%, 10%);
    }
  }
}


////////////////////////////
//   discussion pattern   //
////////////////////////////

body[data-controller="discussion"][data-view="discussion"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"],
body[data-controller="subscriptions"][data-view="subscriptions"] {

  main > p {
    color: white;
  }
  article.topic {
    dl.byline {
      dd.author {
        color: #a5b2d9;
      }
    }
  }

  @media only screen and (min-width: 720px) {
    section.topics {
      article.topic {
        dd.date {
          &::before {
            color: #bfbfbf;
          }
        }
      }
    }
  }

}

///////////////////
//  index view   //
///////////////////

body[data-view="index"] {
  time {
    color: #acacac;
  }
}

//////////////////////////////
//        post styles       //
//////////////////////////////

// Global post styles
article.post {
  background-color: hsl(0,18%,22%);
}

//////////////////////
//  topic patterns  //
//////////////////////

body[data-controller="topic"][data-view="topic"],
body[data-controller="topic"][data-view="private-topic"],
body[data-controller="announcement"][data-view="announcement"] {

  section.summary {
    dl.byline {
      dd {
        color: hsl(0,41%,80%);

        &.date {
          color: hsl(0,0%,67%);
        }
      }
    }
  }

  section.posts {
    > nav {
      background: hsl(0,18%,22%);
    }
  }

  article.post {
    header {
      background: hsl(0,18%,18%);

      dd {
        &.time {
          color: #acacac;
        }
      }
    }
    section.content.signature {
      color: hsl(0,0%,70%);
      background-color: hsl(0,18%,24%);

      p {
        color: hsl(0,0%,80%);
      }
    }
  }

  @media only screen and (min-width: 600px) {
    article.post {
      section.content.post {
        background-color: hsl(0,18%,22%);

        &::before {
          background-color: hsl(0,18%,22%);
        }
      }
      nav.actions {
        background-color: hsl(0,18%,22%);
      }
      section.content.signature {
        border-color: hsl(0,18%,18%);
        background-color: hsl(0,18%,24%);
      }
    }

  }
}

// Private topic view
body[data-controller="topic"][data-view="private-topic"] {
  ul.participants {
    li {
      &:nth-child(n+2) {
        &::before {
          color: hsl(0,0%,85%);
        }
      }
      &:last-child {
        &::before {
          color: hsl(0,0%,85%);
        }
        &::after {
          color: hsl(0,0%,85%);
        }
      }
    }
  }
}


///////////////////
//   user view   //
///////////////////

body[data-view="user"] {
  article.post {
    header {
      background: hsl(0,18%,16%);
    }
  }

}
