header
  section.summary
    h1 User account activation

section.content
  p !{local.activate.message}
  if local.activate.success
    p We have a few content restrictions in place for new members to help prevent spam. These restrictions are lifted automatically after certain criteria are met, but if they're preventing you from enjoying the forum, you can <a href="members/Moderators/id/5">contact a moderator</a> and request these restrictions be lifted manually.
