header
  section.summary
    h1 User account activation

section.content
  p !{local.activate.message}
  if local.activate.success
    p We have a few restrictions in place for new members to help prevent spam:
      ul
        li You can't start new topics, only reply to existing topics. This includes private topics.
        li Your replies and your forum signature can't contain contact info (websites, e-mail addresses, phone numbers, etc.).
        li You can't include your website in your forum profile.
    p These restrictions are lifted automatically after 7 days.
    p Take some time to read <a href="content/About/id/1">About</a>, <a href="content/Help/id/1">Help</a>, and the various sticky threads in each section. They're meant to help you navigate the community.
