// Donations

section.donate {
  display: flex;
  justify-content: center;
  
  input[type="submit"] {
    width: auto;
    margin: 2rem auto;
    padding-right: 2rem;
    padding-left: 2rem;
    color: hsl(227,18%,25%);
    background: linear-gradient(180deg,hsl(227,75%,90%),hsl(227,40%,75%) 98%);
    border-radius: 20px;
  }
}

@media only screen and ( min-width: 720px ) {
  body > header {
    nav {
      justify-content: space-between;

      li {
        margin: 0 0.6rem;
      }
      section.donate {
        flex: 1 1 auto;
        order: 2;

        input[type="submit"] {
          padding-right: 1.6rem;
          padding-left: 1.6rem;
        }
      }
      ul.content {
        order: 1;
      }
      ul.account {
        order: 3;
      }
    }
  }
}
