/////////////////////////
//       Variables     //
/////////////////////////
$version: '0.1';
$defaultFont: "Open Sans Regular", "Helvetica Neue", Helvetica, Geneva, Verdana, Arial, sans-serif;
$titleFont: 'Open Sans Semibold', $defaultFont;
$boldFont: 'Open Sans Bold', $titleFont;
$italicFont: 'Open Sans Italic', $defaultFont;
$boldItalicFont: 'Open Sans Bold Italic', $defaultFont;
$hue: 226;

// Icons
$gBanned:   '\e70e';
$gChecked:  '\e710';
$gError:    '\e707';
$gLock:     '\e68f';
$gMenu:     '\e6bd';
$gNotice:   '\e708';
$gPrivate:  '\e6ce';
$gSelect:   '\e743';
$gSuccess:  '\e6e0';
$gUpdates:  '\e66c';



/////////////////////////
//        Mixins       //
/////////////////////////

@mixin color($saturation, $lightness) {
	color: hsl($hue, $saturation, $lightness);
}

@mixin border-color($saturation, $lightness) {
	border-color: hsl($hue, $saturation, $lightness);
}

@mixin background-color($saturation, $lightness) {
	background-color: hsl($hue, $saturation, $lightness);
}

@mixin button($size: 'large', $color: 'light') {
  display: block;
  border-radius: 0.6vw;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    border-radius: 0.4vw;
  }

  @if $size == 'large' {
  	line-height: 16vw;
	  padding: 0 5vw;
	  font-size: 110%;

    @media only screen and (min-width: 768px) {
      line-height: 12vw;
    }

  } @else if $size == 'medium' {
  	line-height: 10vw;
	  padding: 0 4vw;
	  font-size: 100%;

    @media only screen and (min-width: 768px) {
      line-height: 6vw;
      padding: 0 3vw;
    }

  } @else if $size == 'small' {
    line-height: 8vw;
	  padding: 0 3vw;
    font-size: 90%;

    @media only screen and (min-width: 768px) {
      line-height: 5vw;
      padding: 0 2vw;
    }
  }

  @if $color == 'light' {
    @include color(14%, 25%);
    @include background-color(100%, 90%);
  } @else if $color == 'dark' {
    @include color(100%, 90%);
    @include background-color(14%, 25%);
  }
}

@mixin icon ($content) {
  content: $content;
  font-family: glyphs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

// Creates an icon by replacing text with a glyph
@mixin textToIcon ($iconSize, $content) {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 0 0 #{$iconSize+'vw'};
	width: #{$iconSize+'vw'};
	height: #{$iconSize+'vw'};
	text-indent: 110%;
	overflow: hidden;
	text-decoration: none;
	line-height: #{$iconSize*1.1+'vw'};

	&:before {
		position: absolute;
		top: 50%;
		margin-top: -#{$iconSize/2+'vw'};
		left: 50%;
		margin-left: -#{$iconSize/2+'vw'};
		display: block;
		width: #{$iconSize+'vw'};
		height: #{$iconSize+'vw'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize+'vw'};
		text-indent: 0;
	}
}

// Adds an icon in front of an anchor's text
@mixin iconBeforeText ($iconSize, $content) {
	text-decoration: none;
	line-height: #{$iconSize*10+'px'};
	line-height: #{$iconSize+'rem'};
	width: auto;
	text-indent: 0;

	&:before {
		display: inline;
		vertical-align: top;
		width: #{$iconSize*10+'px'};
		width: #{$iconSize+'rem'};
		height: #{$iconSize*10+'px'};
		height: #{$iconSize+'rem'};
		padding-right: #{$iconSize*10/4+'px'};
		padding-right: #{$iconSize/4+'rem'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize*10+'px'};
		font-size: #{$iconSize+'rem'};

	}
}

// Adds an icon after an anchor's text
@mixin iconAfterText ($iconSize, $content) {
	text-decoration: none;
	line-height: #{$iconSize*10+'px'};
	line-height: #{$iconSize+'rem'};
	width: auto;

	&:after {
		display: inline;
		vertical-align: top;
		width: #{$iconSize*10+'px'};
		width: #{$iconSize+'rem'};
		height: #{$iconSize*10+'px'};
		height: #{$iconSize+'rem'};
		padding-left: #{$iconSize*10/4+'px'};
		padding-left: #{$iconSize/4+'rem'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize*10+'px'};
		font-size: #{$iconSize+'rem'};
	}
}
