/////////////////////////
//       Variables     //
/////////////////////////
$version: '0.1';
$defaultFont: "Open Sans Regular", "Helvetica Neue", Helvetica, Geneva, Verdana, Arial, sans-serif;
$titleFont: AvenirNextCondensed-DemiBold, 'Open Sans Semibold', $defaultFont;
$subtitleFont: AvenirNextCondensed-Medium, $titleFont;
$italicTitleFont: AvenirNext-Italic, 'Open Sans Italic', $defaultFont;
$boldFont: 'Open Sans Bold';
$semiboldFont: 'Open Sans Semibold';
$demiboldFont: AvenirNext-DemiBold, $semiboldFont;
$italicFont: 'Open Sans Italic';
$boldItalicFont: 'Open Sans Bold Italic';
$lightFont: 'Open Sans Light';
$lightTitleFont: AvenirNext-Regular, 'Open Sans Light';
$buttonFont: AvenirNext-Regular, $defaultFont;
$hue: 225;

// Icons
$gBanned:   '\ed64';
$gChecked:  '\ed6c';
$gError:    '\ed68';
$gLock:     '\eb52';
$gMenu:     '\ec6a';
$gNotice:   '\ed4d';
$gPrivate:  '\ec23';
$gSelect:   '\ee38';
$gSuccess:  '\ecff';
$gUpdates:  '\eac2';
$gNoUpdates: '\eac4';



/////////////////////////
//        Mixins       //
/////////////////////////

@mixin color($saturation, $lightness) {
	color: hsl($hue, $saturation, $lightness);
}

@mixin border-color($saturation, $lightness) {
	border-color: hsl($hue, $saturation, $lightness);
}

@mixin inner-border($saturation, $lightness, $size: 1px) {
  box-shadow: 0 0 0 $size hsl($hue, $saturation, $lightness) inset;
}

@mixin background-color($saturation, $lightness) {
	background-color: hsl($hue, $saturation, $lightness);
}

@mixin button($size: 'large', $color: 'light') {
  display: block;
  border-radius: 0.6vw;
  border: none;
	font-family: $buttonFont;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @media only screen and (min-width: 600px) {
    border-radius: 0.4vw;
  }
  @media only screen and (min-width: 720px) {
    border-radius: 0.4rem;
  }

  @if $size == 'large' {
  	line-height: 16vw;
	  padding: 0 5vw;
	  font-size: 110%;

    @media only screen and (min-width: 600px) {
      line-height: 12vw;
    }
    @media only screen and (min-width: 720px) {
      line-height: 12rem;
      padding: 0 5rem;
    }

  } @else if $size == 'medium' {
  	line-height: 8.5vw;
	  padding: 1vw 4vw 0.8vw;
	  font-size: 100%;

    @media only screen and (min-width: 600px) {
      line-height: 6vw;
      padding: 0 3vw;
    }
    @media only screen and (min-width: 720px) {
      line-height: 6rem;
      padding: 0 3rem;
    }

  } @else if $size == 'small' {
    line-height: 7.6vw;
	  padding: 0.4vw 3vw 0;
    font-size: 90%;

    @media only screen and (min-width: 600px) {
      line-height: 5vw;
      padding: 0 2vw;
    }
    @media only screen and (min-width: 720px) {
      line-height: 4rem;
      padding: 0 2rem;
    }
  }

  @if $color == 'light' {
		color: #373B49;
		background-image: linear-gradient(to bottom, #D9E2FF 0%, #A3ADCC 98%);
  } @else if $color == 'dark' {
		color: #A5B2D9;
		background-image: linear-gradient(to bottom, #2F323D 0%, #272A33 98%);
		border: 1px solid #474F66;
  } @else if $color == 'lightGhost' {
    @include color(100%, 90%);
    @include inner-border(100%, 90%, 0.4vw);
    @media only screen and (min-width: 600px) {
      @include inner-border(100%, 90%, 0.2vw);
    }
    @media only screen and (min-width: 720px) {
      @include inner-border(100%, 90%, 1px);
    }
  } @else if $color == 'darkGhost' {
    @include color(14%, 25%);
    @include inner-border(14%, 25%, 0.4vw);
    @media only screen and (min-width: 600px) {
      @include inner-border(14%, 25%, 0.2vw);
    }
    @media only screen and (min-width: 720px) {
      @include inner-border(14%, 25%, 1px);
    }
  }
}

@mixin icon ($content) {
  content: $content;
  font-family: glyphs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

// Creates an icon by replacing text with a glyph
@mixin textToIcon ($iconSize, $content) {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 0 0 #{$iconSize + 'vw'};
	width: #{$iconSize + 'vw'};
	height: #{$iconSize + 'vw'};
	text-indent: 110%;
	overflow: hidden;
	text-decoration: none;
	line-height: #{$iconSize * 1.1 + 'vw'};

	&::before {
		position: absolute;
		top: 50%;
		margin-top: -#{$iconSize / 2 + 'vw'};
		left: 50%;
		margin-left: -#{$iconSize / 2 + 'vw'};
		display: block;
		width: #{$iconSize + 'vw'};
		height: #{$iconSize + 'vw'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize + 'vw'};
		text-indent: 0;
	}
}

// Adds an icon in front of an anchor's text
@mixin iconBeforeText ($iconSize, $content) {
	text-decoration: none;
	line-height: #{$iconSize * 10 + 'px'};
	line-height: #{$iconSize + 'rem'};
	width: auto;
	text-indent: 0;

	&::before {
		display: inline;
		vertical-align: top;
		width: #{$iconSize * 10 + 'px'};
		width: #{$iconSize + 'rem'};
		height: #{$iconSize * 10 + 'px'};
		height: #{$iconSize + 'rem'};
		padding-right: #{$iconSize * 10 / 4 + 'px'};
		padding-right: #{$iconSize / 4 + 'rem'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize * 10 + 'px'};
		font-size: #{$iconSize + 'rem'};

	}
}

// Adds an icon after an anchor's text
@mixin iconAfterText ($iconSize, $content) {
	text-decoration: none;
	line-height: #{$iconSize * 10 + 'px'};
	line-height: #{$iconSize + 'rem'};
	width: auto;

	&::after {
		display: inline;
		vertical-align: top;
		width: #{$iconSize * 10 + 'px'};
		width: #{$iconSize + 'rem'};
		height: #{$iconSize * 10 + 'px'};
		height: #{$iconSize + 'rem'};
		padding-left: #{$iconSize * 10 / 4 + 'px'};
		padding-left: #{$iconSize / 4 + 'rem'};
		content: $content;
		font-family: $glyphs;
		font-size: #{$iconSize * 10 + 'px'};
		font-size: #{$iconSize + 'rem'};
	}
}
