////////////////////////
//  account pattern   //
////////////////////////

body[data-controller="account"] {

  section.avatar {
    a.avatar {
      float: left;
      margin: 5vw 4vw 4vw;
    }
    form {
      clear: both;
    }
  }

  @media only screen and (min-width: 600px) {

    section.form {
      max-width: 32rem;
      margin-right: auto;
      margin-left: auto;
    }
    form {
      ul.data {
        & > li {
          &.textarea {
            textarea {
              padding: 2vw 3vw;
            }
          }
        }
      }
    }
    section.avatar {
      a.avatar {
        margin-left: 20vw;
      }
      & > p {
        margin-top: 4.5vw;
        margin-right: 20vw;
      }
      form {
        padding-top: 0;
      }
    }
  }

  @media only screen and (min-width: 720px) {

    section.settings {
      display: flex;
      align-items: flex-start;
    }
    section.general,
    section.avatar {
      flex: 0 0 32rem;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
    }
    form {
      ul.data {
        & > li {
          &.textarea {
            textarea {
              padding: 2rem;
            }
          }
        }
      }
    }
    li.signature {
      margin-top: 3.2rem;
    }
    section.avatar {
      a.avatar {
        margin: 1.6rem 1.6rem 4rem 0;
      }
      & > p {
        margin: 1.6rem 0;
      }
    }
  }

}
