////////////////////////
//  account pattern   //
////////////////////////

body[data-controller="account"] {

  section.form.avatar {
    a.avatar {
      float: left;
      margin: 5vw 4vw 4vw;
    }
    form {
      clear: both;
    }
  }

  @media only screen and (min-width: 768px) {

    section.form.avatar {
      a.avatar {
        margin-left: 20vw;
      }
      & > p {
        margin-top: 6.5vw;
        margin-right: 20vw;
      }
    }
  }

}
