/////////////////////////
////     baseline    ////
/////////////////////////

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-size: 4vw;
	line-height: 1.75;
}

h1 { font-size: 125%; }
h2 { font-size: 115%; }
h3 { font-size: 110%; }

ul,
ol {
	margin-left: 3.4rem;
}

nav {
	ul {
		margin: 0;
		list-style: none;
	}
}

p {
	margin: 1.4rem 0 1.8rem;
  margin: 4vw 0 6vw;
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  -ms-interpolation-mode: bicubic;
}

q:before,
q:after {
  content: '';
}

input,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

b,
strong {
  font-weight: normal;
  font-family: $boldFont;

  i,
  em {
    font-family: $boldItalicFont;
  }
}

i,
em {
  font-style: normal;
  font-family: $italicFont;

  b,
  strong {
    font-family: $boldItalicFont;
  }
}
