/////////////////////////
////     baseline    ////
/////////////////////////

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 4.5vw;
	line-height: 1;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 { font-size: 130%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }

ul,
ol,
dl {
  margin: 4vw 0 6vw 8vw;
  line-height: 1.6;
}

nav {
	ul {
		margin: 0;
		list-style: none;
	}
}

p {
  margin: 4vw 0 6vw;
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  -ms-interpolation-mode: bicubic;
}

q:before,
q:after {
  content: '';
}

input,
select,
textarea {
  appearance: none;
  border-radius: 0;
}

b,
strong {
  font-weight: normal;
  font-family: $boldFont;

  i,
  em {
    font-family: $boldItalicFont;
  }
}

i,
em {
  font-style: normal;
  font-family: $italicFont;

  b,
  strong {
    font-family: $boldItalicFont;
  }
}
