///////////////////
//  Dear Disney  //
///////////////////

body[data-view="Dear-Disney"] {
  section.letter {
    padding: 1.2rem;
  }

  img.pvg {
    border-radius: 0.6rem;
    margin: 2.4rem 0;
    width: 100%;
  }

  img.death-star {
    width: 26vw;
    margin: 3rem auto 0;
  }

  @media only screen and ( min-width: 600px ) {

    img.pvg {
      border-radius: 0.4rem;
      float: left;
      margin: 0.4rem 1.2rem 1rem 0;
      width: 48%;
    }

    img.death-star {
      width: 6rem;
      margin: 1.8rem auto 0.6rem;
    }

  }

  @media only screen and ( min-width: 720px ) {

    section.summary {
      max-width: 76.8rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 40px;
      padding-right: 40px;
    }

    section.letter {
      max-width: 76.8rem;
      margin-left: auto;
      margin-right: auto;
      padding: 40px;
    }

    img.pvg {
      border-radius: 4px;
      float: left;
      margin: 20px 35px 20px 0;
      width: 250px;
    }

    img.death-star {
      width: 100px;
      margin: 40px auto 10px;
    }

    h2 {
      margin: auto;
      max-width: 32rem;
    }

  }

  @media only screen and ( min-width: 848px ) {

    main > header section.summary {
      padding-right: 0;
      padding-left: 0;
    }

    section.letter {
      padding-right: 0;
      padding-left: 0;
    }

    h2 {
      text-align: center;
    }

  }
}