////////////////////////////
//   discussion pattern   //
////////////////////////////

body[data-controller="discussion"][data-view="discussion"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"],
body[data-controller="subscriptions"][data-view="subscriptions"] {

  main > p {
    margin: 4vw 4vw 6vw;
  }
  section.topics {
    margin-top: 2vw;
    padding: 0 4vw;

    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      h2 {
        flex: 1 0 100%;
      }
    }
  }
  article.topic {
    section.description {
      flex: 0 0 72vw;
      order: 1;
      margin-right: 4vw;
    }
    h3 {
      display: flex;
      align-items: center;
      min-height: 12vw;
      margin-bottom: 4vw;
    }
    section.author {
      flex: 0 0 50vw;
      order: 3;
      display: flex;
    }
    dl.byline {
      margin: 0 0 0 3vw;
      font-size: 85%;
      line-height: 1.4;

      dt.author,
      dt.date {
        position: absolute;
        left: -100vw;
      }
      dd.author {
        margin: 0;
        width: 30vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      dd.date {
        margin-left: 0;
      }
    }
    a.content-stats {
      order: 2;
    }
    p.last-post {
      position: absolute;
      right: 0;
      bottom: 5vw;
      width: 42vw;
      font-size: 75%;
      line-height: 1.3;

      a.avatar {
        width: 8vw;
        height: 8vw;
        margin-right: 2vw;
        float: left;
      }
      a:nth-child(2) {
        display: inline-block;
        width: 32vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &.announcement {
      h3 {
        min-height: 0;
        margin: 0;
        padding: 0;
      }
    }
  }

  @media only screen and (min-width: 375px) {

    article.topic {
      section.author {
        flex: 0 0 52vw;
      }
      dl.byline {
        line-height: 1.8;

        dd.author {
          width: 34vw;
        }
      }
      p.last-post {
        width: 40vw;

        a:nth-child(2) {
          width: 28vw;
        }
      }
    }

  }

  @media only screen and (min-width: 400px) {

    article.topic {
      section.description {
        flex-basis: 74vw;
      }
      h3 {
        min-height: 14vw;
        margin-bottom: 2vw;
      }
      dl.byline {
        dd.author {
          width: 34vw;
        }
      }
      p.last-post {
        width: 34vw;

        a:nth-child(2) {
          width: 24vw;
        }
      }
    }

  }

  @media only screen and (min-width: 600px) {
    article.topic {
      section.description {
        flex-basis: 76vw;
      }
      h3,
      &.has-replies h3 {
        margin: 0 0 2vw 0;
        min-height: 0;
      }
      & > a.avatar {
        margin: 0 2vw 0 3vw;
      }
      section.author {
        flex: 0 0 48vw;
      }
      dl.byline {
        margin: 0.5vw 0 0 2vw;
        width: 26vw;
        font-size: 100%;
      }
      p.last-post {
        right: 18vw;
        bottom: 3vw;
        width: 28vw;
        font-size: 85%;
        line-height: 1.6;

        a.avatar {
          width: 6vw;
          height: 6vw;
          margin-right: 1.6vw;
        }
        a:nth-child(2) {
          display: block;
          width: auto;
        }
      }

      &.announcement {
        &::after {
          margin: 0;
        }
      }

    }

  }

  @media only screen and (min-width: 720px) {

    section.announcements {
      & > * {
        max-width: 96rem;
      }
    }

    section.topics {
      margin-top: 1.2rem;
      padding: 0 2.4rem;

      > * {
        max-width: 96rem;
        margin: auto;
      }
      header {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 1.2rem;

        h2 {
          flex: 1 1 auto;
          margin: 1.2rem 0;
        }
        nav.pagination,
        nav.actions {
          flex: 0 1 auto;
          margin: 1.2rem 0 0;
        }
        nav.pagination {
          margin: 1.2rem 2.4rem 1.2rem 1.2rem;
        }
      }
      article.topic {
        flex-wrap: nowrap;
        flex: 1 0 100%;

        section.description {
          flex: 0 1 100%;
          margin-right: 3.2rem;
        }
        h3 {
          margin: 0 0 0 7.8rem;
        }
        section.author {
          flex-basis: 44%;
          margin-left: 7.8rem;
          font-size: 90%;

          a.avatar {
            position: absolute;
            top: 1.4rem;
            left: 0;
          }
        }
        dl.byline {
          margin: 0;
          width: auto;
        }
        dd.author {
          display: inline;
          width: auto;
        }
        dd.date {
          display: inline;

          &::before {
            content: ' – ';
          }
        }
        p.last-post {
          right: initial;
          bottom: initial;
          position: static;
          width: auto;
          flex: 0 0 20rem;
          order: 2;
          font-size: 90%;

          a.avatar {
            width: 4.8rem;
            height: 4.8rem;
            margin-right: 1.4rem;
          }
          a:nth-child(2) {
            display: block;
            margin-top: 0.6rem;
            max-width: 12rem;
          }
        }
        a.content-stats {
          flex: 0 0 6.4rem;
          order: 3;
        }
      }
    }

  }

}

body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"],
body[data-controller="subscriptions"][data-view="subscriptions"] {

  section.summary {
    &::before {
      display: none;
    }
  }

}
