////////////////////////////
//   discussion pattern   //
////////////////////////////

body[data-controller="discussion"][data-view="discussion"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"] {

  main > p {
    margin: 4vw 4vw 6vw;
    color: white;
  }
  nav.actions {
    @include background-color(14%, 22%);

    &:before {
      left: 0;
      background-image: linear-gradient(to right, hsl(225, 14%, 22%), hsla(225, 14%, 22%, 0));
    }
    &:after {
      right: 0;
      background-image: linear-gradient(to left, hsl(225, 14%, 22%), hsla(225, 14%, 22%, 0));
    }
  }
  p.details {
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
  }
  p.stats {
    margin-top: 0.8rem;
    margin-bottom: 0;
  }
  span.replies {
    font-family: $boldFont;
  }
  a.first-unread {
    display: inline-block;
    margin-top: 2vw;
  }

}

body[data-controller="discussion"][data-view="discussion"] {

  section.announcements {
    article {
      padding: 3vw 0 4vw;
    }
  }
  nav.actions {
    ul {
      padding-top: 0;
    }
  }

  @media only screen and (min-width: 768px) {

    section.announcements {
      article {
        padding: 2vw 0;
      }
    }

    section.announcements,
    section.topics {
      display: flex;
      flex-wrap: wrap;

      h2 {
        flex: 1 0 50%;
      }
      nav.actions {
        flex: 1 0 50%;
        align-self: center;

        ul {
          padding: 0 4vw;
        }
        li {
          margin-bottom: 0;
        }
      }
      article {
        width: 100%;
      }
    }

  }

}
