////////////////////////////
//   discussion pattern   //
////////////////////////////

body[data-controller="discussion"][data-view="discussion"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"] {

  main > p {
    margin: 4vw 4vw 6vw;
    color: white;
  }
  article.topic {
    h3 {
      flex: 0 0 72vw;
      order: 1;
      margin: 0 4vw 4vw 0;
      display: flex;
      align-items: center;
    }

    section.author {
      flex: 0 0 50vw;
      order: 3;
      display: flex;
    }
    dl.byline {
      margin: 0 0 0 3vw;
      font-size: 85%;
      line-height: 1.4;

      dt.author,
      dt.date {
        position: absolute;
        left: -100vw;
      }
      dd.author {
        margin: 0;
        width: 30vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #a5b2d9;
      }
      dd.date {
        margin-left: 0;
      }
    }
    a.content-stats {
      order: 2;
    }
    p.last-post {
      flex: 0 0 42vw;
      order: 4;
      align-self: flex-end;
      font-size: 75%;
      line-height: 1.3;

      a.avatar {
        width: 8vw;
        height: 8vw;
        margin-right: 2vw;
        float: left;
      }
      a:nth-child(2) {
        display: inline-block;
        width: 32vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &.announcement {
      h3 {
        min-height: 0;
        margin-bottom: 0;
        padding: 0;
      }
    }
  }

  @media only screen and (min-width: 375px) {

    article.topic {
      section.author {
        flex: 0 0 52vw;
      }
      dl.byline {
        line-height: 1.8;

        dd.author {
          width: 32vw;
        }
      }
      p.last-post {
        flex: 0 0 40vw;

        a:nth-child(2) {
          width: 30vw;
        }
      }
    }

  }

  @media only screen and (min-width: 400px) {

    article.topic {
      h3 {
        flex: 0 0 74vw;
      }
      dl.byline {
        dd.author {
          width: 34vw;
        }
      }
    }

  }

  @media only screen and (min-width: 600px) {

    article.topic {
      h3,
      &.has-replies h3 {
        flex: 0 0 72vw;
        margin: 0 3vw 2vw 0;
        min-height: 0;
      }
      & > a.avatar {
        margin: 0 2vw 0 3vw;
      }
      dl.byline {
        margin-top: 0.5vw;
        width: 26vw;
        font-size: 100%;
      }
      p.last-post {
        position: relative;
        float: left;
        width: 28vw;
        max-width: none;
        margin-top: 2vw;
        bottom: initial;
        font-size: 85%;
        line-height: 1.6;

        a.avatar {
          width: 6vw;
          height: 6vw;
        }
        a:nth-child(2) {
          display: block;
          width: auto;
        }
      }

      &.has-replies {
        &:not(.announcement) {
          &::before {
            width: 19vw;
            height: 13vw;
          }
        }
      }

    }

  }

  @media only screen and (min-width: 720px) {

    section.announcements {
      article {
        padding: 2rem 0;
      }
    }

    section.announcements,
    section.topics {
      nav.actions {
        ul {
          padding: 2rem 4rem;
        }
      }
    }

    section.topics {
      article.topic {
        padding: 1.8rem 0;
        min-height: 16rem;

        h3 {
          margin: 0 4rem 0 17rem;
        }
        dd.author {
          margin-top: 1.5rem;
          margin-left: 17rem;
        }
        dd.date {
          margin-top: 1.5rem;
          margin-left: 4rem;
        }
        dd.replies {
          padding-top: 1.5rem;
          margin-left: 17rem;
        }
        dt.last-post {
          right: 15rem;
          bottom: 3rem;
        }
        dd.last-post {
          right: 4rem;
          bottom: 3rem;
        }
        a.avatar {
          top: 3.4rem;
          left: 4rem;
        }
      }
    }

  }

}



body[data-controller="discussion"][data-view="discussion"] {

  section.announcements {
    article {
      padding: 3vw 4vw;
    }
  }
  nav.actions {
    ul {
      padding-top: 0;
    }
  }

  @media only screen and (min-width: 600px) {

    section.announcements {
      article {
        padding: 2vw 3vw;
      }
    }

    section.announcements,
    section.topics {
      nav.actions {
        &::after,
        &::before {
          display: none;
        }
        ul {
          padding: 1.6vw;
          text-align: right;
        }
        li {
          margin-bottom: 0;
        }
      }
    }

  }

  @media only screen and (min-width: 720px) {

    section.announcements {
      article {
        padding: 1.2rem 1.8rem;
      }
    }

    section.announcements,
    section.topics {
      nav.actions {
        ul {
          padding: 4.4rem 4rem;
        }
      }
    }

  }

}

body[data-controller="announcements"][data-view="announcements"] {
  section.summary {
    &::before {
      display: none;
    }
    h1 {
      text-align: center;
    }
  }
}
