////////////////////////////
//  discussions pattern   //
////////////////////////////

body[data-controller="discussions"] {

  &[data-view="discussions"] {
    section.announcements {
      article {
        padding: 3vw 4vw;

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
    section.categories {
      article {
        section.description {
          flex: 0 0 72vw;
          margin-right: 4vw;

          p {
            margin: 2vw 0 4vw;
          }
        }
      }
    }

    @media only screen and (min-width: 400px) {
      section.categories {
        article {
          section.description {
            flex: 0 0 74vw;
          }
        }
      }
    }

    @media only screen and (min-width: 600px) {
      section.announcements {
        article {
          padding: 2vw 3vw;
        }
      }
      section.categories {
        article {
          section.description {
            flex: 0 0 78vw;
          }
        }
      }
      p.description {
        margin-bottom: 3vw;
      }
      p.last-post {
        margin: 0;
      }
    }

    @media only screen and (min-width: 720px) {
      section.announcements {
        article {
          padding: 1.2rem 2.4rem;

          &:last-child {
            padding-bottom: 3.2rem;
          }
        }
      }
      section.categories {
        article {
          flex-wrap: nowrap;

          &:first-of-type {
            margin-top: 1.2rem;
          }
          section.description {
            flex: 1 1 auto;
            order: 1;
            margin-right: 3.2rem;

            p {
              margin: 1.2rem 0 0;
            }
          }
        }
      }
      p.last-post {
        flex: 0 0 20rem;
        order: 2;
        font-size: 90%;

        a:nth-child(2) {
          display: block;
          width: 20rem;
          margin-top: 0.6rem;
        }
      }
      a.content-stats {
        flex: 0 0 6.4rem;
        order: 3;
      }
    }
  }

}
