/*-------------------
discussions pattern
-------------------*/
body[data-controller="discussions"] {

  &[data-view="discussions"] {
    section.announcements {
      article {
        padding: 3vw 0 4vw;
      }
    }
    section.category {
      article {
        display: flex;
        
        h3,
        p {
          width: 60vw;
        }
      }
    }
    p.description {
      margin-top: 2vw;
    }
    ul.stats {
      display: inline-block;
      width: 32vw;
      margin-top: 4vw;
      list-style: none;
    }
    .last-post {
      display: inline-block;
      margin-top: 4vw;
    }
  }

}
