
/////////////////////////
//        Mixins       //
/////////////////////////

// Preserve original color values 
@function hsl($h, $s, $l) { 
  @return unquote('hsl(#{$h}, #{$s}, #{$l})'); 
} 

@function hsla($h, $s, $l, $a) { 
  @return unquote('hsla(#{$h}, #{$s}, #{$l}, #{$a})');
} 

// Use HSB values provided by apps like Sketch and Photoshop and 
// convert them into HSL. Why? HSL (native CSS) and HSB aren't 
// interchangeable. 
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) { 
  @if $b-hsb == 0 { 
    @return unquote('hsla(0, 0, 0, $a)'); 
  } @else { 
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100)); 
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2); 
    @return unquote('hsla($h-hsb, $s-hsl, $l-hsl, $a)'); 
  } 
} 

@mixin bodyFont($style: normal, $weight: 400) {
	font-family: 'Open Sans', 'sans serif';
	font-style: $style;
	font-weight: $weight;
  text-rendering: optimizeLegibility;
}

@mixin titleFont($style: normal, $weight: 600) {
	font-family: 'Titillium Web', 'Open Sans', 'sans serif';
	font-style: $style;
	font-weight: $weight;
  text-rendering: optimizeLegibility;
}

@mixin button($color: light, $size: 88%, $padding: 2.5vw 3.5vw) {
  display: block;
	padding: $padding;
	font-size: $size;
  border-radius: 0.6vw;
  border: none;
	@include bodyFont();
	line-height: 1;
  text-align: center;
  text-decoration: none;
	text-transform: uppercase;
  cursor: pointer;

  @media only screen and (min-width: 600px) {
    border-radius: 0.4vw;
  }
  @media only screen and (min-width: 720px) {
    border-radius: 0.3rem;
  }

  @if $color == 'light' {
		color: #373B49;
		background-image: linear-gradient(180deg,hsl(227,75%,90%),hsl(227,40%,75%) 98%);

		&:hover {
			color: hsla(227,41%,83%,1);
      background-image: linear-gradient(180deg,hsl(227,18%,34%) 0,hsl(227,18%,30%) 98%);
    }
  } @else if $color == 'dark' {
		color: #A5B2D9;
		background-image: linear-gradient(180deg, hsl(227,18%,22%) 0%, hsl(227,18%,16%) 98%);
		border: 1px solid #474F66;

		&:hover {
			color: hsl(227,41%,13%);
			background-image: linear-gradient(180deg,hsl(227,64%,86%),hsl(227,32%,68%) 98%);
    }
  } @else if $color == 'lightGhost' {
    color: hsl(227,100%,90%);
		box-shadow: 0 0 0 1px hsl(227,100%,90%) inset;
  } @else if $color == 'darkGhost' {
    color: hsl(227,18%,25%);
		box-shadow: 0 0 0 1px hsl(227,18%,25%) inset;
  }
}

@mixin debutton {
	text-transform: initial;
	background: none;
	color: hsl(227,41%,75%);
}

/////////////////////////
////  global styles  ////
/////////////////////////
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  a {
    text-decoration: underline;
  }
}

svg.icon {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// Mask for zoomed images
#mask {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;

  // Close button
  #mask-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.enabled {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
    z-index: 1000;
    opacity: 1;
  }

  &.closing {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }

  a.open-tab {
    display: block;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    padding: 10px;
    border-radius: 3px;
    transition: border-color 0.2s;

    svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-left: 5px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

span.zoom {
  display: inline-block;
  position: relative;
  cursor: pointer;

  span.zoom-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    opacity: 0;
    transition: opacity 0.2s;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  img {
    transition: filter 0.2s;
  }

  &:hover {
    span.zoom-button {
      opacity: 1;
    }
    img {
      filter: brightness(50%);
    }
  }
}

html.mask-enabled {
  height: 100%;
}

time {
  @include bodyFont(normal, 300);
}

a.home {
  display: block;

  svg {
    width: 100%;
    height: 100%;
  }
}

body {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 14vw;
    margin-top: 0;
    padding: 1vw 1.5vw;
  
    a.home {
      width: 36vw;
      height: 12vw;
    }
  
    nav {
      ul {
        text-align: center;
  
        &.content {
          text-align: left;
          text-transform: uppercase;
        }
      }
      li {
        margin: 0 1vw 1vw;
  
        a {
          display: block;
          padding: 1vw;
        }
      }
    }
  
    a.sign-in {
      @include button(lightGhost, $padding: 2vw 3vw);
      margin: 1vw 0 0.9vw 1vw;
    }
  
    section.status {
      display: flex;
  
      a.private-topics {
        display: block;
        width: 10vw;
        height: 10vw;
        margin-right: 2vw;
        padding-top: 10vw;
        overflow: hidden;
        position: relative;
  
        svg {
          position: absolute;
          top: 1vw;
          left: 0;
          width: 80%;
          height: 80%;
        }
      }
  
      a.account {
        display: block;
        width: 10vw;
        height: 10vw;
  
        img {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }

  // Floating header (see global.js init() for associated scripts)
  &.floating-header > header {
    margin-top: -80px;
  }
}

html.js body > header {
  position: fixed;
  z-index: 500;
  transition: margin 0.3s;
}

main {
  flex: 1 0 auto;
  padding-bottom: 6rem;
  clear: both;
  overflow: hidden;

  & > h1:first-child {
    margin-top: 5vw;
  }

  & > p {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

html.js {
  main {
    // Matches the header height
    padding-top: 14vw;
  }
}


// The menu button and sliding nav are used on mobile only. Much easier to limit
// here than to overwrite within the 600px media query later.
#main-menu-icon {
  display: none;
}

@media only screen and (max-width: 599px) {
  html.js {
    body > header {
      nav {
        display: none;
      }
    }
  }

  #main-menu-icon {
    @include button(light, $padding: 2vw);
    display: flex;
    align-items: center;

    svg {
      width: 5vw;
      height: 5vw;
      margin-right: 1.5vw;
    }
  }

  .slide-menu {
    position: fixed;
    z-index: 1001;
    font-size: 125%;

    &.left {
      top: 0;
      left: -100vw;
      width: 75vw;
      height: 100vh;
      text-align: left;
      transition: left 0.4s;

      &.open {
        left: 0;
      }
    }
    &.right {
      top: 0;
      right: -100vw;
      width: 75vw;
      height: 100vh;
      text-align: right;
      transition: right 0.4s;

      &.open {
        right: 0;
      }
    }
    &.bottom {
      bottom: -50vh;
      width: 100vw;
      height: 50vh;
      text-align: center;
      transition: bottom 0.4s;

      &.open {
        bottom: 0;
      }
    }

    li {
      display: block;
      line-height: 1;

      a {
        display: block;
        padding: 5vw;
      }
    }
  }

  .menu-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s;
  }

  body.menu-open {
    .menu-shadow {
      width: 100vw;
      height: 100vh;
      opacity: 1;
    }
  }

  body.menu-closing {
    .menu-shadow {
      width: 100vw;
      height: 100vh;
    }
  }

}

nav.breadcrumbs {
  padding: 4vw 4vw 0;
  @include titleFont(normal, 300);
  text-transform: uppercase;

  ul {
    display: flex;
    line-height: 1.4;
  }
  li {
    position: absolute;
    left: -100vw;

    &:last-child {
      position: static;
      display: flex;
      align-items: center;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin: 0 2vw 0 0;
      border-top: 1.5vw solid transparent;
      border-right: 2vw solid;
      border-bottom: 1.5vw solid transparent;
      border-radius: 0.5vw;
    }
    a {
      display: inline-block;
      max-width: 86vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

section {
  &.summary {
    position: relative;
    overflow: hidden;
    margin: auto 4vw;
    padding-bottom: 4vw;

    & > p {
      &:first-of-type {
        margin-top: 0;
      }
      &:nth-child(n-1) {
        margin-bottom: 0;
      }
    }
  }

  &.notice {
    padding: 4vw;
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    > * {
      margin-left: 0;
      margin-right: 0;
    }

    svg {
      width: 8vw;
      height: 8vw;
    }

    &.error,
    &.locked,
    &.banned {
      border: none;

      a {
        color: white;
      }
    }

    &.success {
      svg {
        display: inline-block;
        margin-right: 4vw;
        vertical-align: middle;
      }
      p {
        display: inline;
        vertical-align: middle;
      }
    }

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }

    p.why {
      margin-bottom: 0;
      @include bodyFont(normal, 600);
    }
    p.reason {
      margin-top: 0;
    }
  }

  &.announcements {
    padding: 4vw;

    article {
      padding: 2vw 0;
      border: none;
    }
  }

  &.content {
    width: 100%;
    margin: 4vw 0;
    padding: 0 4vw;
    line-height: 1.6;
    background: none;

    & > * {
      margin-left: 0;
      margin-right: 0;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    h1 {
      margin-top: 8vw;
      margin-bottom: 4vw;
      padding: 0;
      font-size: 3.5vw;
    }
    h2 {
      margin-top: 8vw;
      margin-bottom: 2vw;
      padding: 0;
      background: none;
      text-align: left;
    }
    h3 {
      margin-top: 8vw;
      margin-bottom: 0;
      padding: 0;
      @include bodyFont(italic);
    }
    a {
      text-decoration: underline;
      word-break: break-word;
    }
    & > img,
    * > img {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;

      // Legacy OT.com emoticons
      &[src^="i/expressions/"] {
        display: inline;
        vertical-align: middle;
      }
    }
    dl, ol, ul {
      margin-left: 8vw;
    }
    blockquote {
      position: relative;
      overflow: hidden;
      font-size: 90%;
      margin: 4vw 0;
      padding: 3vw 4vw;
      border-left-width: 1px;
      border-left-style: solid;

      > blockquote,
      > blockquote > blockquote,
      > blockquote > blockquote > blockquote,
      > blockquote > blockquote > blockquote > blockquote,
      > blockquote > blockquote > blockquote > blockquote > blockquote,
      > blockquote > blockquote > blockquote > blockquote > blockquote > blockquote {
        display: none;
        font-size: 100%;
      }
      &.expanded {
        > blockquote,
        > blockquote > blockquote,
        > blockquote > blockquote > blockquote,
        > blockquote > blockquote > blockquote > blockquote,
        > blockquote > blockquote > blockquote > blockquote > blockquote,
        > blockquote > blockquote > blockquote > blockquote > blockquote > blockquote {
          display: block;
          margin-left: 0;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      &.nested {
        padding-top: 8vw;

        *:nth-child(n-1) {
          margin-bottom: 0;
        }
      }
      a.expand {
        @include button('lightGhost');
        position: absolute;
        top: 2vw;
        right: 1.6vw;
        padding: 1.5vw 2vw;
        font-size: 80%;
      }
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
      p {
        margin: 2vw 0;
      }
      dl, ol, ul {
        margin-left: 8vw;
      }
    }
    span.emoji {
      font-size: 180%;
      line-height: 0.5;
      vertical-align: middle;
    }
  }

  &.form {
    margin: 6vw 4vw;

    h2 {
      margin-bottom: 2vw;
    }
  }

  &.preview {
    margin-top: 6vw;
    
    article {
      padding: 0;
      border: none;

      h3.title {
        @include titleFont($weight: normal);
        margin: 4vw;
      }
    }
  }
}

// If the page doesn't have breadcrumbs...
body[data-breadcrumbs="false"] {
  section.summary {
    padding: 3vw 0 5vw;
  }
}

nav.pagination {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  margin: 4vw;

  ul {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    font-weight: 300;
    border-radius: 2px;
  }
  li {
    a {
      @include button(dark);
    }
    &:nth-child(n+2) {
      a {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &:nth-last-child(n+2) {
      a {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

nav.previous-and-next {
  flex: 1 0 auto;
  justify-content: center;
  display: flex;
  margin: 8vw 2vw;

  ul {
    display: flex;
  }
  li {
    flex: 0 0 auto;

    &:first-child {
      margin-right: 4vw;
    }
    &:last-child {
      margin-left: 4vw;
    }
    &:only-child {
      margin: 0;
    }
  }
  a {
    @include button(dark);
  }
}

// Topic counts for forums, post counts for topics
dl.content-stats {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 16vw;
  height: 16vw;
  margin: 0;
  border-radius: 50%;
  font-size: 4vw;

  dt {
    &::after {
      content: '';
    }
    &:first-child {
      order: 2;
      @include titleFont($weight: 300);
      font-size: 90%;
      line-height: 1;
      text-transform: lowercase;

      &::after {
        content: '';
      }
    }
    &:nth-child(n+3) {
      position: absolute;
      right: 100vw;
    }
  }
  dd {
    &:nth-child(n+2) {
      order: 1;
      flex-basis: auto;
      @include titleFont();
      line-height: 1.5;
    }
    &:nth-child(n+4) {
      position: absolute;
      left: -100vw;
    }
  }
}

p.last-post {
  margin: 0;
  font-size: 85%;

  a {
    text-decoration: none;
  }
  a.avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3vw;
  }
}

article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 4vw 0;
  border-top-width: 1px;
  border-top-style: solid;

  &:last-child {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  &.unread,
  &.updated {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 1vw;
      height: calc(100% - 1px);
      position: absolute;
      top: 0;
      left: -4vw;
    }
  }

  & > *:last-child {
      margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.4;
}

h1 {
  padding: 2vw 0;
  @include titleFont;

  span.page {
    display: inline-block;
    @include titleFont(normal, 300);
    font-size: 92%;
  }
}

h2 {
  @include titleFont($weight: 400);
  margin: 2vw;
  text-transform: uppercase;
  text-align: center;
}

h3, h4, h5, h6 {
  @include bodyFont();
}

footer {
  padding: 4vw;

  a.home {
    width: 50vw;
    margin: 8vw auto 10vw;
  }

  section.stats {
    p {
      text-align: center;
    }
  }
  section.copyright {
    margin-top: 10vw;
    font-size: 85%;

    p {
      margin: 4vw 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



/////////////////////////
////      forms      ////
/////////////////////////

form {
  label {
    @include titleFont(normal, 500);
    margin-bottom: 2vw;
    font-size: 120%;
    line-height: 1;
  }
  p.label-note {
    margin: 1vw 0 2vw;
    font-size: 90%;
    line-height: 1.5;
  }
  input,
  select,
  textarea {
    width: 100%;
    padding: 4vw;
    word-wrap: normal;
    border-width: 1px;
    border-style: solid;
    border-radius: 1vw;
    transition: border-color 0.5s, background-color 0.5s;

    &:focus {
      outline: none;
    }
  }

  select {
    line-height: 1.5;
  }

  textarea {
    font-family: monospace;
    padding: 3vw;

    &[name="title"] {
      height: 18vw;
    }
    &[name="content"] {
      height: 74vw;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    position: relative;
  }

  input[type="checkbox"] {
    &:checked {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 10vw;
        height: 10vw;
        background: url('../images/checkmark.svg') center no-repeat;
        background-size: 8vw;
        background-position: 1vw;
      }
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:checked {
      &::after {
        position: absolute;
        top: 1.25vw;
        left: 1.25vw;
        display: block;
        width: 7vw;
        height: 7vw;
        border-radius: 50%;
        content: '';
      }
    }
  }
  ul.data {
    margin: 0;

    & > li {
      margin: 2vw 0 8vw;
      list-style: none;

      &:last-child {
        margin-bottom: 2vw;
      }
      &.text,
      &.textarea,
      &.select {
        label {
          display: block;
        }
      }
      &.select {
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 4vw;
          height: 8vw;
          position: absolute;
          right: 2vw;
          bottom: 3.5vw;
          background: url('../images/select.svg') center no-repeat;
          background-size: cover;
        }
      }
      &.checkbox,
      &.radio {
        display: flex;
        align-items: center;

        input {
          flex: 0 0 10vw;
        }
        label {
          margin: 0 0 0 4vw;
          @include bodyFont;
          font-size: 100%;
          line-height: 1.4;
        }
      }

      ul.data {
        margin: 8vw 0;

        ul.data {
          & > li {
            flex-wrap: nowrap;
            margin: 4vw 0;

            ul.checkbox,
            ul.radio {
              margin-top: 2vw;
            }
          }
        }
      }
      ul.checkbox,
      ul.radio {
        & > li {
          margin: 1vw 0 2vw;
        }
      }
    }
  }
  ul.actions {
    margin: 0;
    padding: 8vw 0;

    & > li {
      display: block;
      margin-bottom: 4vw;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.cancel {
        a {
            @include debutton;
        }
      }
      input[type="submit"] {
        box-shadow: none;
      }
      input[type="submit"],
      a {
        @include button(light, $size: 110%, $padding: 6vw);
      }
    }
  }
}

nav.actions {
  position: relative;
  margin: 4vw;
  overflow: hidden;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    z-index: 100;
  }

  li {
    margin: 0 1.5vw 4vw;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include button(light);
  }
}

/////////////////////////
////     tables      ////
/////////////////////////

table {
  width: 100%;
  margin: 4vw 0;

  th,
  td {
    padding: 2.5vw;
    border-width: 1px;
    border-style: solid;
  }

  th {
    font-weight: normal;
  }
}


// Avatars
a.avatar {
  display: block;
  position: relative;
  margin: 0;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  &.banned {
    svg {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      color: hsl(0,70%,50%);
    }
    img {
      position: relative;
      z-index: 1;
    }
  }
}

.banned {
  a[rel="author"] {
    text-decoration: line-through;
  }
}


// Screens wider than 375px
@media only screen and (min-width: 375px) {

  body {
    font-size: 4vw;
  }

  // Keep the byline on topic pages from breaking
  body[data-controller="topic"][data-view="topic"],
  body[data-controller="post"][data-view="topic"],
  body[data-controller="announcement"][data-view="announcement"],
  body[data-controller="post"][data-view="announcement"] {
    section.summary {
      &::before {
        width: 26vw;
        height: 20vw;
      }
    }
  }

}


// Screens wider than 400px
@media only screen and (min-width: 400px) {

  body {
    font-size: 3.4vw;

    & > header {
      a.sign-in {
        font-size: 100%;
      }
    }
  }

  #main-menu-icon {
    font-size: 110%;
  }

  a.avatar {
    width: 10vw;
    height: 10vw;
  }

  dl.content-stats {
    width: 12vw;
    height: 12vw;
    font-size: 3vw;
  }

  // Discussion, discussions, and topic view summaries
  body[data-controller="discussions"],
  body[data-controller="discussion"],
  body[data-controller="topic"],
  body[data-controller="post"][data-view="topic"],
  body[data-controller="announcements"],
  body[data-controller="announcement"],
  body[data-controller="post"][data-view="announcement"] {
    section.summary {
      &::before {
        width: 28vw;
        height: 28vw;
      }
    }
  }

  p.last-post {
    font-size: 100%;
  }

}


// Screens wider than 600px
@media only screen and (min-width: 600px) {

  body {
    font-size: 2.2vw;

    & > header {
      min-height: 8vw;

      a.home {
        width: 24vw;
        height: 6vw;
      }
      a.sign-in {
        display: none;
      }
      section.status {
        a.private-topics {
          padding-top: 6vw;
          width: 6vw;
          height: 6vw;

          svg {
            top: 0.5vw;
          }
        }
        a.account {
          width: 6vw;
          height: 6vw;
        }
      }
      nav {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        margin-left: 2.4vw;

        ul {
          flex: 1 1 auto;

          &.account {
            text-align: right;

            li {
              &.sign-in a {
                @include button(lightGhost, $size: 100%, $padding: 1.5vw);
              }
              &.register a {
                @include button($size: 100%, $padding: 1.5vw);
              }
            }
          }
        }
        li {
          margin: 0 .2vw;
          display: inline-block;
          text-align: center;

          a {
            display: block;
            padding: 0.5vw 1.5vw;
          }
        }
      }

      &.authenticated {
        nav {
          ul {
            flex: 0 1 auto;
          }
        }
      }
    }

  }

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              position: absolute;
              top: 12vw;
              right: -50vw;
              margin: 0;
              padding: 2vw 0;
              border-radius: 0.3rem;
              text-align: center;
              z-index: 4;

              &.active {
                right: 1.4vw;
              }

              &::after {
                content: '';
                display: block;
                width: 4vw;
                height: 4vw;
                transform: rotate(45deg);
                position: absolute;
                top: -1.8vw;
                right: 1vw;
                z-index: 1;
              }

              li {
                position: relative;
                display: block;
                z-index: 2;

                a {
                  padding: 1.5vw 3vw;
                }
              }
            }
          }
        }
      }

      main {
        padding-top: 8vw;
      }
    }
  }

  h1 {
    padding: 1vw 0;
    font-size: 4vw;
  }

  nav.breadcrumbs {
    padding: 2vw 4vw 0;
    font-size: 2.4vw;

    li {
      margin-bottom: 0;
      margin-top: 1vw;

      &::before {
        margin: 0 1.2vw 0 1.6vw;
        border-top: 1vw solid transparent;
        border-right: 1.6vw solid;
        border-bottom: 1vw solid transparent;
        border-radius: 0.4vw;
      }
    }
  }

  section {
    &.announcements {
      article {
        padding: 0.8vw 0;
      }
    }
    &.content {
      & > img,
      * > img {
        width: auto;
        max-width: 100%;
      }
      dl, ol, ul {
        margin-bottom: 4vw;
        margin-left: 6vw;
      }
      blockquote {
        margin: 3vw 0;
        padding: 2vw 2.5vw;
        border-top-right-radius: .5vw;
        border-bottom-right-radius: .5vw;

        &.nested {
          padding-top: 4vw;
        }
        a.expand {
          top: 1.2vw;
          right: 1vw;
          padding: 1vw 1.5vw;
        }
        dl, ol, ul {
          margin-left: 6vw;
        }
      }
    }
    &.summary {
      p {
        font-size: 2.6vw;
      }
      > nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    &.notice {
      svg {
        width: 6vw;
        height: 6vw;
      }
      p {
        margin-bottom: 3vw;
      }
    }
    &.form.post {
      ul.data {
        > li {
          margin-bottom: 4vw;
        }
      }
    }
  }

  article {
    padding: 3vw 0;

    &::after {
      left: 3vw;
      width: calc(100% - 6vw);
    }
  }

  form {
    & > * {
      margin-left: 20vw;
      margin-right: 20vw;
    }
    label {
      margin-bottom: 1vw;
    }
    p.label-note {
      margin-bottom: 1vw;
    }
    input,
    select,
    textarea {
      margin: 0;
      padding: 2vw;
      border-radius: 0.5vw;
    }
    textarea {
      padding: 2vw 3vw;

      &[name="title"] {
        height: 11vw;
      }
      &[name="content"] {
        height: 44vw;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: 6vw;
      height: 6vw;
    }
    input[type="checkbox"] {
      &:checked::after {
        width: 6vw;
        height: 6vw;
        background-size: 5vw;
        background-position: 0.5vw;
      }
    }
    input[type="radio"] {
      &:checked {
        &::after {
          top: 0.8vw;
          left: 0.8vw;
          width: 4vw;
          height: 4vw;
        }
      }
    }
    ul.data {
      & > li {
        margin: 2vw 0 6vw;

        &.select {
          &::after {
            height: 6vw;
            width: 3vw;
            bottom: 1vw;
            right: 1vw;
          }
        }
        &.checkbox,
        &.radio {
          min-height: 6vw;

          &:last-child {
            margin-bottom: 4vw;
          }
          input {
            flex: 0 0 6vw;
          }
        }
      }
    }
    ul.actions {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2vw 0;

      & > li {
        flex: 0 1 auto;
        margin: 0 2vw;

        input[type="submit"],
        a {
          padding: 2vw 3vw;
        }
      }
    }
  }

  nav.actions {
    &::before,
    &::after {
      display: none;
    }

    ul {
      display: flex;
      justify-content: center;
      padding: 0;
    }
    li {
      margin: 0 1vw 2vw;
    }
    a {
      padding: 1.65vw 2vw;
    }
  }

  nav.pagination,
  nav.actions {
    margin: 2vw;

    li {
      a {
        padding: 2vw 3vw;
        font-size: 100%;
      }
    }
  }

  a.avatar {
    width: 8vw;
    height: 8vw;

    &.banned {
      &::after {
        top: 3.5vw;
        left: -3vw;
        width: 14vw;
        height: 0.5vw;
      }
    }
  }

  p.last-post {
    font-size: 100%;

    a.avatar {
      width: 6vw;
      height: 6vw;
      margin-right: 2vw;
    }
  }

  footer {
    a.home {
      width: 30vw;
    }
    section.stats {
      p {
        max-width: 72vw;
        margin: 0 auto;
        font-size: 125%;
      }
    }
    section.copyright {
      p {
        margin: 2vw 0;
      }
    }
  }

}


// Screens wider than 720px
@media only screen and (min-width: 720px) {

  // New baseline establishing rems over viewport units
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.4rem;
  }
  dl, ol, ul {
    margin: 3rem 0 3rem 8rem;
  }
  dl {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  p {
    margin: 2rem 0;
  }


  body {
    > header {
      min-height: 6.4rem;
      font-size: 1.2rem;

      > nav {
        margin-left: 2.4rem;
      }
      a.home {
        width: 16.8rem;
        height: 4rem;
        padding: 0;
      }
      section.status {
        a.private-topics {
          width: 4rem;
          height: 4rem;
          margin-right: 1rem;
          padding-top: 4rem;

          svg {
            top: 0.5rem;
            width: 3rem;
            height: 3rem;
          }
        }
        a.account {
          width: 3.8rem;
          height: 3.8rem;
        }
      }
      nav {
        ul.account {
          li.sign-in a,
          li.register a {
            padding: 1.2rem 1.6rem;
          }
        }
        li {
          margin: 0 1.2rem;

          &.register {
            margin: 0;
          }
          a {
            padding: 0.5rem 1rem;
          }
        }
      }

      &.authenticated {
        nav {
          ul.account {
            margin-right: 0;
            max-width: none;
            text-align: left;
          }
        }
      }
    }
  }

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              top: 8rem;
              padding: 1.2rem 0;
              border-radius: 0.3rem;

              &.active {
                right: 1.2rem;
              }
              li {
                a {
                  padding: 0.8rem 1.6rem;
                }
              }
              &::after {
                top: -1.2rem;
                right: 0.8rem;
                width: 2.4rem;
                height: 2.4rem;
              }
            }
          }
        }
      }

      main {
        padding-top: 6.4rem;
      }
    }
  }



  h1 {
    padding: 0 0 0.8rem;
    font-size: 2.4rem;
  }

  h2 {
    margin: 0 0 1.2rem;
    font-size: 2rem;
    text-align: left;
  }

  a.avatar {
    width: 6.4rem;
    height: 6.4rem;

    &.banned {
      &::after {
        top: 3rem;
        left: -2rem;
        width: 10rem;
        height: 0.4rem;
      }
    }
  }

  p.last-post a.avatar {
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 1.4rem;
    float: left;
  }

  nav.breadcrumbs {
    padding: 2.4rem 2.4rem 0;
    font-size: 1.4rem;

    ul {
      max-width: 96rem;
      margin: auto;
    }

    li {
      position: static;
      display: flex;
      align-items: center;
      margin-top: 0;

      &::before {
        display: none;
      }
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        margin: 0.1rem 1rem 0 1.2rem;
        border-top: 0.5rem solid transparent;
        border-left: 0.8rem solid;
        border-bottom: 0.5rem solid transparent;
        border-radius: 0.2rem;
      }
    }
  }

  nav.previous-and-next {
    margin: 3.2rem auto;
  }

  dl.content-stats {
    width: 6.4rem;
    height: 6.4rem;
    font-size: 1.6rem;
  }

  nav.actions {
    &::before,
    &::after {
      width: 4rem;
      height: 10rem;
    }

    li {
      margin: 0 .4rem 0.8rem;
    }
    a {
      padding: 10px 12px;
    }
  }

  nav.pagination {
    li {
      a {
        padding: 9px 12px;
      }
    }
  }
  nav.actions {
    li {
      a {
        padding: 10px 12px;
      }
    }
  }

  section {
    &.announcements {
      padding: 2.4rem;

      & > * {
        max-width: 96rem;
        margin-left: auto;
        margin-right: auto;
      }
      article {
        min-height: 0;
        padding: 0.4rem 0;
      }
    }
    &.content {
      margin: 2.6rem 0;
      padding: 0 2.6rem;

      h1 {
        margin-top: 6rem;
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
      }
      h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
      h3 {
        margin-top: 4rem;
        margin-bottom: 0;
      }
      dl, ol, ul {
        margin: 2rem auto;
        padding: 0 3rem;
      }
      blockquote {
        margin: 1.6rem 0;
        padding: 1.6rem;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        &.nested {
          padding-top: 3.2rem;
        }
        a.expand {
          top: 0.8rem;
          right: 0.7rem;
          padding: 0.8rem 1.2rem;
          font-size: 90%;
        }
        p {
          margin: 1.6rem 0;
        }
        dl, ol, ul {
          margin-left: 4rem;
        }
      }
    }
    &.summary {
      margin: auto 2.4rem;
      padding: 1.2rem 0 2rem;

      p {
        font-size: 1.6rem;
      }
      > nav {
        margin-top: 2.4rem;

        nav:first-child {
          margin-left: 0;
        }
        nav:last-child {
          margin-right: 0;
        }
      }
      nav.pagination,
      nav.actions {
        margin: 2.4rem 2.4rem 0;

        a {
          padding: 1rem 1.4rem;
          font-size: 91%;
        }
      }
    }
    &.notice {
      padding: 2.4rem;

      svg {
        width: 3.2rem;
        height: 3.2rem;
      }
      p {
        margin-bottom: 1.6rem;
      }
    }
    &.preview {
      margin-top: 3.2rem;

      > h2 {
        margin: 0 2.4rem;
      }
      article {
        padding: 0;
      }
    }
    &.form {
      max-width: 96rem;
      margin: 2.4rem;
    }
  }

  // If the page doesn't have breadcrumbs...
  body[data-breadcrumbs="false"] {
    section.summary {
      padding: 2.4rem 0;
    }
  }

  article {
    align-items: center;
    min-height: 9.2rem;
    padding: 1.2rem 0;

    &.unread,
    &.updated {
      &::before {
        width: 0.4rem;
        left: -1.8rem;
      }
    }

    &::after {
      left: 2.4rem;
      width: calc(100% - 4.8rem);
    }
  }

  form {
    label {
      margin-bottom: 0.8rem;
    }
    p.label-note {
      margin: 0.8rem 0;
    }
    input,
    select,
    textarea {
      padding: 0.8rem 1.2rem;
      border-radius: 0.3rem;
    }
    textarea {
      padding: 2rem 2.4rem;
      font-size: 1.6rem;

      &[name="title"] {
        height: 8rem;
      }
      &[name="content"] {
        height: 32rem;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: 2.4rem;
      height: 2.4rem;
    }
    input[type="checkbox"] {
      &:checked::after {
        width: 2.4rem;
        height: 2.4rem;
        background-size: 2rem;
        background-position: 0.2rem;
      }
    }
    input[type="radio"] {
      &:checked {
        &::after {
          top: 2px;
          left: 2px;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    ul.data {
      & > li {
        margin: 1rem 0 3.2rem;

        &.select {
          &::after {
            right: 0.8rem;
            bottom: .8rem;
            width: 1.2rem;
            height: 2.4rem;
            bottom: 0.8rem;
          }
        }
        &.checkbox,
        &.radio {
          min-height: 0;
          margin: 1.2rem 0;

          &:last-child {
            margin-bottom: 2.4rem;
          }
          input {
            flex: 0 0 2.4rem;
          }
          label {
            margin: 0 0 0 1rem;
            max-width: none;
          }
        }

        ul.data {
          flex-basis: 100%;
          margin: 0;

          ul.data {
            & > li {
              margin: 2rem 0;

              ul.checkbox,
              ul.radio {
                margin: 2rem 0 4rem;
              }
            }
          }
        }

        ul.data ul.data {
          margin-left: 4rem;
        }

        ul.checkbox,
        ul.radio {
          & > li {
            margin: 1rem 0 2rem;
          }
        }
      }
    }
    ul.actions {
      padding: 2rem 0;
      text-align: center;

      & > li {
        margin-left: 2rem;
        margin-right: 2rem;

        a,
        input[type="submit"] {
          padding: 1rem 1.2rem;
          font-size: 91%;
        }
      }
    }
  }

  section.form.post {
    form {
      ul.data {
        > li {
          margin-bottom: 2rem;
        }
        li.subscribe {
          float: left;
          width: 50%;
          margin-top: 0;
        }
      }
      ul.actions {
        justify-content: flex-end;
        padding: 0;

        :last-child {
          margin: 0;
        }
      }
    }
  }

  nav.previous-and-next {
    li {
      &:first-child {
        margin-right: 1.6rem;
      }
      &:last-child {
        margin-left: 1.6rem;
      }
      &:only-child {
        margin: 0;
      }
    }
    a {
      padding: 1.2rem 1.6rem;
    }
  }

  footer {
    padding: 4rem;

    a.home {
      width: 16rem;
      margin: 4rem auto 6rem;
    }
    section.stats {
      max-width: 96rem;
      margin: auto;

      p {
        max-width: none;
        font-size: 120%;
      }
    }
    section.copyright {
      max-width: 60rem;
      margin: 10rem auto 0;
      font-size: 90%;
      text-align: center;

      p {
        margin: 2rem 0;
      }
    }
  }

}

@media only screen and (min-width: 1024px) {

  html.js {
    body {
      > header.authenticated {
        nav {
          ul.account {
            &.active {
              right: calc((100% - 100.2rem) / 2);
              top: 9.2rem;
            }
          }
        }
      }
    }
  }

  body {
    > header {
      padding: 1.2rem calc( (100% - 100rem ) / 2 );

      a.home {
        margin-left: 0;
      }
      nav {
        ul.account {
          margin-right: 0;
        }
      }
    }
  }

  section.summary {
    max-width: 96rem;
    margin: auto;
  }

  section.form {
    max-width: 96rem;
    margin: 2.4rem auto;
  }

  section.preview {
    h2 {
      max-width: 96rem;
      margin: auto;
    }
    h3.title {
      max-width: 96rem;
      margin: auto;
      padding: 2.4rem;
    }
    section.content {
      max-width: 96rem;
      margin: auto;
      padding: 0;
    }
  }

  form textarea[name="title"] {
    height: 6rem;
  }

}