
/////////////////////////
////    Modernizr    ////
/////////////////////////
//
//  CSS3
//    Flexible Box Model
//    CSS Animations
//    CSS 2D Transforms
//    CSS Transitions
//
//  Extra
//    Media Queries
//    Add CSS Classes
//
//  Non-core detects
//    emoji


/////////////////////////
////      fonts      ////
/////////////////////////

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
       url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
       url('../fonts/open-sans/opensans-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
       url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans/opensans-italic-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-italic-webfont.woff') format('woff'),
       url('../fonts/open-sans/opensans-italic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Semibold Italic';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/open-sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-semibolditalic-webfont.woff') format('woff'),
       url('../fonts/open-sans/opensans-semibolditalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold Italic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans/opensans-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-bolditalic-webfont.woff') format('woff'),
       url('../fonts/open-sans/opensans-bolditalic-webfont.ttf') format('truetype');
}


/////////////////////////
////  global styles  ////
/////////////////////////
body {
  position: relative;
  font-family: $defaultFont;
  // text-rendering: optimizeLegibility;
  color: white;
  background: #2b2e38;

  &.transitioning {
    main {
      position: relative;

      & > * {
        transition: opacity 0s;
        opacity: 0;
      }

      & > span.loading-indicator {
        position: absolute;
        top: 50px;
        top: 5rem;
        left: 50%;
        margin-left: -30px;
        margin-left: -3rem;
        opacity: 1;
      }
    }
  }

  &.loaded {
    main {
      & > * {
        transition: opacity 0.15s;
        opacity: 1;
      }
    }
  }

  // Navigation highlighting
  &[data-controller="index"] nav li.news a,
  &[data-controller="discussions"] nav li.discussions a,
  &[data-controller="discussion"] nav li.discussions a,
  &[data-controller="announcements"] nav li.discussions a,
  &[data-controller="announcement"] nav li.discussions a,
  &[data-controller="topic"][data-view="topic"] nav li.discussions a,
  &[data-controller="topic"][data-view="private-topic"] nav li.private-topics a,
  &[data-controller="topic"][data-view="start-private"] nav li.private-topics a,
  &[data-controller="private-topics"] nav li.private-topics a,
  &[data-controller="sign-in"] nav li.sign-in a,
  &[data-controller="register"] nav li.register a,
  &[data-controller="account"] nav li.account a,
  &[data-controller="about"] nav li.about a,
  &[data-controller="help"] nav li.help a {
    background: rgb(58, 62, 75);
  }
}

html.no-cssanimations span.loading-indicator {
  display: block;
  width: 110px;
  width: 11rem;
  height: 50px;
  height: 5rem;
  overflow: hidden;
  text-align: center;
  background: url('/app/skins/default/images/loading.gif') center no-repeat;
}

html.cssanimations.csstransforms span.loading-indicator {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: 100%;
  overflow: hidden;
  border-radius: 30px;
  border-top: 3px solid #666;
  border-right: 3px solid #c8c8c8;
  border-bottom: 3px solid #666;
  border-left: 3px solid #666;
  animation: loading-indicator 0.75s linear 100;
}

@keyframes loading-indicator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #A5B2D9;
  text-decoration: none;
}

p {
  color: rgb(230, 230, 230);

  a {
    text-decoration: underline;
  }
}

a.home {
  display: block;

  .logo {
    width: 100%;
    height: 100%;
    fill: #E7E7E7;
  }
}

body > header {
  display: flex;
  width: 100%;
  background-color: #272A33;
  border-bottom: 1px solid #1F2128;

  a.home {
    width: 32vw;
    margin: 0 auto;
    padding: 2.2vw 0;
  }

  nav {
    ul {
      text-align: center;
    }
    li {
      margin: 0 1vw 1vw;

      a {
        display: block;
        padding: 1vw;
        color: rgb(204, 216, 255);
      }
    }
  }

  a.sign-in {
    @include button('small', 'lightGhost');
    position: absolute;
    top: 3vw;
    right: 2.5vw;
  }

  section.status {
    position: absolute;
    top: 2vw;
    right: 2vw;

    a.private-topics {
      display: block;
      position: absolute;
      right: 14vw;
      width: 10vw;
      height: 10vw;
      padding-top: 10vw;
      overflow: hidden;

      &::before {
        @include icon($gNoUpdates);
        @include color(100%, 90%);
        position: absolute;
        top: 0;
        left: 0;
        width: 10vw;
        height: 10vw;
        font-size: 6vw;
        line-height: 10vw;
        text-align: center;
      }

      &.updates::before {
        @include icon($gUpdates);
      }
    }

    a.account {
      display: block;
      position: absolute;
      right: 0;
      width: 10vw;
      height: 10vw;
      padding-left: 10vw;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

// Floating header (see global.js init() for associated scripts)
body {
  &.floating-header > header {
    position: fixed;
    z-index: 500; // Place it above the main header so it obscures it
    transition: margin 0.3s;
    margin-top: 0;
  }
  // So the main background color doesn't show through if the user scrolls up
  &.floating-header main::before {
    content: '';
    display: block;
    width: 100vw;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background: #2B2E38;
  }
  // Hide the current page indicator when the header is floating
  &.floating-header-active > header,
  &.floating-header-hidden > header {
    background: rgba(39,42,51,0.85);

    nav ul.content li.discussions a::after {
      display: none;
    }
  }
  &.floating-header-hidden > header {
    margin-top: -80px;
  }
}


// The menu button and sliding nav are used on mobile only. Much easier to limit
// here than to overwrite within the 600px media query later.
@media only screen and (max-width: 599px) {
  html.js.csstransitions {
    body > header {
      nav {
        display: none;
      }
    }
  }

  .main-menu-icon {
    @include button('small');
    position: absolute;
    top: 3vw;
    left: 2.5vw;
    padding: 0.2vw 2vw 0 8vw;
    font-size: 100%;

    &::before {
      @include icon($gMenu);
      position: absolute;
      top: 0;
      left: 2vw;
      font-size: 120%;
    }
  }

  .slide-menu {
    position: fixed;
    z-index: 1001;
    font-size: 125%;
    background: rgb(39, 42, 51);

    &.left {
      top: 0;
      left: -100vw;
      width: 75vw;
      height: 100vh;
      text-align: left;
      transition: left 0.4s;

      &.open {
        left: 0;
      }
    }
    &.right {
      top: 0;
      right: -100vw;
      width: 75vw;
      height: 100vh;
      text-align: right;
      transition: right 0.4s;

      &.open {
        right: 0;
      }
    }
    &.bottom {
      bottom: -50vh;
      width: 100vw;
      height: 50vh;
      text-align: center;
      transition: bottom 0.4s;

      &.open {
        bottom: 0;
      }
    }

    li {
      display: block;
      line-height: 1;

      a {
        display: block;
        padding: 5vw;
      }
    }
  }

  .menu-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.4s;
  }

  body.menu-open {
    .menu-shadow {
      width: 100vw;
      height: 100vh;
      opacity: 1;
    }
  }

  body.menu-closing {
    .menu-shadow {
      width: 100vw;
      height: 100vh;
    }
  }

}

nav.breadcrumbs {
  padding: 4vw 4vw 0;
  font-family: $italicTitleFont;
  text-transform: uppercase;
  background: #2B2E38;

  li {
    display: inline-block;
    margin-bottom: 1vw;
    position: absolute;
    left: -100vw;

    &:last-child {
      position: static;

      &::before {
        content: '< ';
        vertical-align: top;
      }
      &::after {
        display: none;
      }
      a {
        display: inline-block;
        max-width: 86vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  a {
    color: rgb(145,157,191);
  }
}

main {
  clear: both;
  overflow: hidden;
  background: rgb(59, 64, 78);

  & > h1:first-child {
    margin-top: 5vw;
  }

  & > p {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

section {
  &.summary {
    position: relative;
    background-image: linear-gradient(to bottom, #2B2E38 0%, #323742 60%, #3B404E 100%);

    & > p {
      color: hsla(0,0%,80%,1);

      &:nth-child(2) {
        margin-top: 0;
      }
      &:nth-child(n-1) {
        margin-bottom: 0;
        padding-bottom: 4vw;
      }
    }

    // Hide primary actions on small devices
    nav.actions {
      display: none;
    }
  }

  &.notice {
    margin: 4vw 0;
    padding: 4vw 4vw 4vw 14vw;
    position: relative;
    clear: both;
    @include background-color(14%, 19%);

    &::before {
      @include icon($gNotice);
      @include color(100%, 90%);
      position: absolute;
      top: 4vw;
      left: 4vw;
      font-size: 6vw;
    }

    & > * {
      margin-left: 0;
      margin-right: 0;
    }

    &.error,
    &.locked,
    &.banned {
      background: hsl(0,40%,50%);

      &::before,
      a {
        color: white;
      }
    }

    &.success {
      padding-left: 4vw;
      text-align: center;

      p {
        display: inline;
        vertical-align: middle;
      }
      &::before {
        @include icon($gSuccess);
        position: static;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4vw;
      }
    }

    &.error::before {
      @include icon($gError);
    }

    &.locked::before {
      @include icon($gLock);
    }

    &.banned::before {
      @include icon($gBanned);
    }

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }

    p.why {
      margin-bottom: 0;
      font-family: $boldFont;
      font-size: 85%;
    }
    p.reason {
      margin-top: 0;
      font-size: 85%;
    }
  }

  &.category,
  &.announcements,
  &.topics {
    margin: 0 2vw 4vw;
  }

  &.content {
    margin: 6vw 0 8vw;
    padding: 0 4vw;
    line-height: 1.6;
    background: none;

    & > * {
      margin-left: 0;
      margin-right: 0;
    }
    h1 {
      padding: 0;
      margin-top: 8vw;
      margin-bottom: 8vw;
    }
    h2 {
      margin-top: 10vw;
      margin-bottom: 2vw;
      padding: 0;
      background: none;
      text-align: left;
      text-decoration: underline;
    }
    h3 {
      margin-top: 8vw;
      margin-bottom: 0;
      padding: 0;
      font-family: $italicFont;
    }

    & > img,
    * > img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      // Legacy OT.com emoticons
      &[src^="i/expressions/"] {
        display: inline;
        width: auto;
        vertical-align: middle;
      }
    }

    dl, ol, ul {
      margin-left: 8vw;
    }

    blockquote {
      margin: 4vw 0 6vw;
      padding: 4vw;
      overflow: hidden;
      font-size: 90%;
      color: #d2d2d2;
      @include background-color(14%, 20%);

      & > blockquote {
        font-size: 100%;
        border: 1px solid;
        @include border-color(14%, 22%);
      }

      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
      p > a:first-child[href^="post/"] {
        display: block;
        width: 120%;
        padding: 2vw 4vw 3vw;
        margin-left: -4vw;
        margin-top: -4vw;
        @include background-color(14%, 22%);
      }
      dl, ol, ul {
        margin-left: 8vw;
      }
    }
  }

  &.form {
    margin: 4vw;

    h2 {
      margin-bottom: 2vw;
    }
  }

  &.preview {
    h2 {
      margin: 0 2vw;
    }
    article {
      padding: 4vw 0;
      border-bottom: 1px solid;
      @include border-color(14%, 25%);

      h3.title {
        font-family: $titleFont;
      }
      section.content {
        margin-bottom: 0;
      }
    }
  }

  & > p {
    margin-right: 4vw;
    margin-left: 4vw;
  }
}

// If the page doesn't have breadcrumbs...
body[data-breadcrumbs="false"] {
  section.summary {
    padding: 5vw 0 2vw;
  }
}

// Discussion, discussions, and topic view summaries
body[data-controller="discussions"][data-view="discussions"],
body[data-controller="discussion"][data-view="discussion"],
body[data-controller="topic"][data-view="topic"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="announcement"][data-view="announcement"] {
  section.summary {
    &::before {
      content: '';
      display: block;
      float: right;
      width: 28vw;
      height: 26vw;
    }
    dl.content-stats {
      position: absolute;
      top: 2vw;
      right: 4vw;
    }
  }
}

nav.pagination {
  flex: 1 0 auto;
  justify-content: center;
  display: flex;
  margin: 4vw;

  ul {
    display: flex;
    border-radius: 2px;
    font-family: $buttonFont;
    color: #A5B2D9;
  }
  li {
    flex: 0 0 auto;
    background-image: linear-gradient(180deg, hsl(227, 13%, 21%) 0, hsl(225, 13%, 18%) 98%);
    border: 1px solid #474F66;

    &.current {
      background-image: linear-gradient(180deg, hsl(227,13%,68%) 0, hsl(223,13%,40%) 98%);

      a {
        color: hsl(225,41%,13%);
      }
    }
    &:nth-child(1n+1) {
      border-right: none;
    }
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border: 1px solid #474F66;
      border-radius: 0 2px 2px 0;
    }
  }
  a {
    display: block;
    padding: 4vw 5vw;
    line-height: 1;
  }
}

nav.previous-and-next {
  flex: 1 0 auto;
  justify-content: center;
  display: flex;
  margin: 8vw 2vw;

  ul {
    display: flex;
  }
  li {
    flex: 0 0 auto;

    &:first-child {
      margin-right: 4vw;
    }
    &:last-child {
      margin-left: 4vw;
    }
    &:only-child {
      margin: 0;
    }
  }
  a {
    @include button('medium', 'dark');
    text-transform: none;
  }
}

// Topic counts for forums, post counts for topics
a.content-stats {
  margin: 0;
  position: absolute;
  top: 4vw;
  right: 4vw;
}
dl.content-stats {
  flex: 0 0 22vw;
  display: flex;
  flex-direction: column;
  width: 22vw;
  height: 22vw;
  margin: 0;
  padding: 7vw 2vw 2vw;
  border: 1px solid #747D99;
  border-radius: 50%;
  text-align: center;
  color: #CDCDCD;

  dt {
    &::after {
      content: '';
    }
    &:first-child {
      float: none;
      min-width: 0;
      order: 2;
      font-family: $lightTitleFont;
      font-size: 90%;
      line-height: 1.5;
      text-transform: lowercase;

      &::after {
        content: '';
      }
    }
    &:nth-child(n+3) {
      position: absolute;
      right: 100vw;
    }
  }
  dd {
    &:nth-child(n+2) {
      margin: 0;
      order: 1;
      font-family: $demiboldFont;
      font-size: 110%;
      line-height: 1;
    }
    &:nth-child(n+4) {
      position: absolute;
      left: -100vw;
    }
  }
}

p.last-post {
  font-size: 85%;

  a {
    text-decoration: none;
  }
  a.avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3vw;
  }
}

article {
  margin: 2vw 0;
  padding: 5vw 0;
  background-color: rgb(50,55,66);
  border-radius: 0.8vw;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
  }

  &.unread,
  &.updated {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 1vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include background-color(100%, 90%);
    }
  }

  &.view-all {
    text-align: center;
    background: rgb(68,74,89);
  }

  & > * {
    margin-right: 4vw;
    margin-left: 4vw;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  dl.content-stats {
    width: 16vw;
    height: 16vw;
    padding: 4.5vw 1.5vw 2vw;

    dt:first-child {
      font-size: 75%;
    }
    dd:nth-child(n+2) {
      font-size: 80%;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  padding: 2vw 4vw;
  font-family: $titleFont;
  line-height: 1.3;
  color: hsl(0, 0%, 85%);

  span.page {
    display: inline-block;
    font-family: $lightTitleFont;
    font-size: 92%;
  }
}

h2 {
  padding: 5vw;
  font-family: $subtitleFont;
  text-align: center;
  color: #ACACAC;
  background-color: hsl(225, 13%, 18%);
}

h3, h4, h5, h6 {
  font-family: $semiboldFont;
}

a.to-the-top {
  @include button('large', 'lightGhost');
  width: 50vw;
  margin: 10vw auto;
}

footer {
  padding-bottom: 4vw;
  @include background-color(14%, 19%);
  border-top: 1px solid;
  @include border-color(14%, 10%);

  a.home {
    width: 50vw;
    margin: 12vw auto 10vw;
  }

  section.stats {
    p {
      text-align: center;
    }
  }
  section.copyright {
    margin-top: 10vw;
    font-size: 85%;

    p {
      margin: 4vw;
      @include color(14%, 60%);

      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      @include color(14%, 60%);
    }
  }
}



/////////////////////////
////      forms      ////
/////////////////////////

form {
  margin: 6vw auto;

  label {
    font-family: $demiboldFont;
    font-size: 120%;
    line-height: 1;
    color: white;
  }
  p.label-note {
    margin: 1vw 0 0;
    color: #CDCDCD;
    line-height: 1.5;
  }
  input,
  select,
  textarea {
    width: 100%;
    margin-top: 2vw;
    padding: 4vw;
    font-size: 130%;
    word-wrap: normal;
    border: 1px solid hsl(226, 13%, 49%);
    border-radius: 1vw;
    background: hsl(225, 13%, 35%);
  }

  select {
    padding: 3vw 4vw;
  }

  textarea {
    font-family: monospace;
    font-size: 90%;
    padding: 3vw;

    &[name="title"] {
      height: 18vw;
    }
    &[name="content"] {
      height: 74vw;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    margin-top: 0;
    width: 10vw;
    height: 10vw;
    vertical-align: middle;
    position: relative;
  }

  input[type="checkbox"] {
    &:checked {
      &::after {
        @include icon($gChecked);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 10vw;
        height: 10vw;
        line-height: 10vw;
        font-size: 130%;
        text-align: center;
        @include color(100%, 90%);
      }
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:checked {
      &::after {
        position: absolute;
        top: 1.25vw;
        left: 1.25vw;
        display: block;
        width: 7vw;
        height: 7vw;
        @include background-color(100%, 90%);
        border-radius: 50%;
        content: '';
      }
    }
  }
  ul.data {
    margin: 0;

    & > li {
      margin: 1vw 0 9vw;
      list-style: none;

      &:last-child {
        margin-bottom: 2vw;
      }
      &.text,
      &.textarea,
      &.select {
        label {
          display: block;
        }
      }
      &.select {
        position: relative;

        &::after {
          @include icon($gSelect);
          position: absolute;
          right: 2vw;
          bottom: 2vw;
          font-size: 6vw;
        }
      }
      &.textarea {
        margin-right: 0;
        margin-left: 0;

        p.label-note {
          margin-right: 4vw;
          margin-left: 4vw;
        }
      }
      &.checkbox,
      &.radio {
        position: relative;
        min-height: 10vw;

        &:last-child {
          margin-bottom: 0;
        }
        label {
          display: inline-block;
          max-width: 78vw;
          margin: 0 0 0 2vw;
          vertical-align: middle;
          font-family: $defaultFont;
          font-size: 100%;
          line-height: 1.4;
        }
      }

      ul.data {
        margin: 8vw 0;

        ul.data {
          & > li {
            margin: 4vw 0;

            ul.checkbox,
            ul.radio {
              margin-top: 2vw;
            }
          }
        }
      }
      ul.checkbox,
      ul.radio {
        & > li {
          margin: 1vw 0 2vw;
        }
      }
    }
  }
  ul.actions {
    margin: 0;
    padding: 8vw 0;

    & > li {
      display: block;
      margin-bottom: 4vw;

      input[type="submit"] {
        box-shadow: none;
      }
      input[type="submit"],
      a {
        @include button('large');
      }
    }
  }
}

nav.actions {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  background: #272a33;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 4vw;
    height: 14vw;
    z-index: 101;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to right, hsl(225,13%,18%), hsla(225,13%,18%,0));
  }
  &::after {
    right: 0;
    background-image: linear-gradient(to left, hsl(225,13%,18%), hsla(225,13%,18%,0));
  }

  ul {
    // Padding added here instead of parent <nav> because it puts the scrollbar
    // under the buttons instead of on top of them
    padding: 4vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 1.5vw;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include button('medium');
  }
}

// Avatars
a.avatar {
  display: block;
  margin: 0;
  width: 12vw;
  height: 12vw;
  border-radius: 0.8vw;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}


// Screens wider than 350px
@media only screen and (min-width: 375px) {

  body {
    font-size: 4vw;
  }

  dl.content-stats {
    width: 20vw;
    height: 20vw;
    padding: 6vw 2vw 2vw;
  }

  article {
    dl.content-stats {
      dt:first-child {
        font-size: 80%;
      }
      dd:nth-child(n+2) {
        font-size: 90%;
      }
    }
  }

}


// Screens wider than 400px
@media only screen and (min-width: 400px) {

  body {
    font-size: 3.4vw;

    & > header {
      a.sign-in {
        font-size: 100%;
      }
    }
  }

  .main-menu-icon {
    font-size: 110%;
  }

  a.avatar {
    width: 10vw;
    height: 10vw;
  }

  dl.content-stats {
    dt {
      &:first-child {
        font-size: 105%;
      }
    }
    dd {
      &:nth-child(n+2) {
        font-size: 135%;
      }
    }
  }

  article {
    dl.content-stats {
      width: 14vw;
      height: 14vw;
      padding: 4vw 1.5vw 2vw;

      dt:first-child {
        font-size: 85%;
      }
      dd:nth-child(n+2) {
        font-size: 90%;
      }
    }
  }

  // Discussion, discussions, and topic view summaries
  body[data-controller="discussions"],
  body[data-controller="discussion"],
  body[data-controller="topic"],
  body[data-controller="announcements"],
  body[data-controller="announcement"] {
    section.summary {
      &::before {
        width: 28vw;
        height: 28vw;
      }
    }
  }

  p.last-post {
    font-size: 100%;
  }

  form {
    input[type="checkbox"] {
      &:checked {
        &::after {
          font-size: 160%;
        }
      }
    }
  }

}

@media only screen and (min-width: 500px) {

  article {
    padding: 3vw 0;
  }

}


// Screens wider than 600px
@media only screen and (min-width: 600px) {

  body {
    font-size: 2.2vw;

    & > header {
      display: flex;
      flex-wrap: wrap;

      a.home {
        margin: 0 1.8vw;
        padding: 1.4vw 0;
        width: 18.4vw;
      }
      a.sign-in {
        display: none;
      }
      section.status {
        top: 1vw;
        right: 1vw;

        a.private-topics {
          right: 10vw;
          padding-top: 6vw;
          width: 6vw;
          height: 6vw;

          &::before {
            width: 8vw;
            height: 8vw;
            font-size: 4vw;
            line-height: 6vw;
          }
        }
        a.account {
          width: 6vw;
          height: 6vw;
          padding-left: 6vw;
        }
      }
      nav {
        display: flex;
        flex: 1 1 auto;
        align-items: center;

        ul {
          flex: 1 1 auto;

          li {
            margin: 0 0.5vw;
            float: left;
            text-align: center;

            a {
              display: block;
              padding: 0.5vw 1.5vw;

              &:hover {
                @include background-color(14%, 27%);
              }
            }
          }
          &.account {
            margin-right: 1.4vw;
            text-align: right;

            li {
              display: inline-block;
              float: none;

              &.sign-in a {
                @include button('small', 'lightGhost');
              }
              &.register {
                margin-right: 0;

                a {
                  @include button('small');
                }
              }
            }
          }
        }
      }

      &.authenticated {
        nav {
          ul {
            flex: 0 1 auto;
          }
        }
      }
    }

  }

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              position: absolute;
              top: 9vw;
              right: -50%;
              margin: 0;
              padding: 1vw 0;
              min-width: 20vw;
              border-radius: 0.3rem;
              text-align: center;
              @include background-color(14%, 25%);
              border: 1px solid;
              @include border-color(14%, 21%);
              z-index: 4;

              &.active {
                right: 1vw;
              }

              &::after {
                content: '';
                display: block;
                width: 4vw;
                height: 4vw;
                transform: rotate(45deg);
                position: absolute;
                top: -2vw;
                right: 1vw;
                @include background-color(14%, 25%);
                border-top: 1px solid;
                border-left: 1px solid;
                @include border-color(14%, 21%);
                z-index: 1;
              }

              li {
                display: block;
                z-index: 2;

                a {
                  padding: 1.5vw;
                }
              }
            }
          }
        }
      }
    }
  }

  h1 {
    padding: 1vw 3vw;
    font-size: 4vw;
    line-height: 1.2;
  }

  h2 {
    padding: 3vw 3vw 2.6vw;
    font-size: 145%;
    text-transform: none;
    text-align: left;
  }

  h3 {
    font-size: 115%;
  }

  p {
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  nav.breadcrumbs {
    padding: 2vw 3vw 0;
    font-size: 2.2vw;

    li {
      position: static;
      margin-bottom: 0;
      margin-top: 1vw;

      &::after {
        content: '>';
        padding: 0 1vw 0 2vw;
      }
      &:last-child {
        &::before {
          display: none;
        }
        &::after {
          display: inline;
        }
        a {
          display: inline;
        }
      }
    }
  }

  section {
    p {
      margin-right: 3vw;
      margin-left: 3vw;
    }
    &.content {
      & > img,
      * > img {
        width: auto;
        max-width: 100%;
      }
      dl, ol, ul {
        margin-bottom: 4vw;
        margin-left: 6vw;
      }
      blockquote {
        margin: 4vw 0;

        dl, ol, ul {
          margin-left: 6vw;
        }
      }
    }
    &.form {
      margin: 3vw;
    }
    &.summary {
      padding: 4vw 0;

      p {
        font-family: $lightFont;
        font-size: 2.6vw;
        color: rgb(191,191,191);

        &:last-child {
          padding-bottom: 2vw;
        }
      }
    }
    &.notice {
      &::before {
        top: 3vw;
      }
      &.locked::before {
        left: 6vw;
      }

      p.why {
        display: inline-block;
        margin-top: 0;
      }
      p.reason {
        display: inline;
      }
    }
    &.category,
    &.announcements,
    &.topics {
      position: relative;
      margin: 0 3vw 4vw;
    }
  }

  body[data-controller="discussion"] {
    section {
      &.category,
      &.announcements,
      &.topics {
        nav.actions {
          position: absolute;
          top: 1vw;
          right: 1vw;
        }
      }
    }
  }

  // Discussion, discussions, and topic view summaries
  body[data-controller="discussions"][data-view="discussions"],
  body[data-controller="discussion"][data-view="discussion"],
  body[data-controller="topic"][data-view="topic"],
  body[data-controller="announcements"][data-view="announcements"],
  body[data-controller="announcement"][data-view="announcement"] {
    section.summary {
      display: flex;
      flex-wrap: wrap;

      h1 {
        flex: 0 1 81vw;
        margin-right: 16vw;
      }
      &::before {
        display: none;
      }
      & > p {
        flex: 0 1 75vw;

        &:nth-child(n-1) {
          padding-bottom: 2vw;
        }
      }
      dl.content-stats {
        top: 4vw;
        right: 3vw;
      }
    }
  }

  dl.content-stats {
    width: 14vw;
    height: 14vw;
    padding: 4vw 1.5vw 2vw;

    dt {
      &:first-child {
        font-size: 125%;
      }
    }
  }

  nav.pagination {
    margin: 2vw 1vw 0;

    a {
      padding: 2vw 3vw;
    }
  }

  article {
    margin: 1vw 0;
    border-radius: 0.4vw;

    & > * {
      margin-right: 3vw;
      margin-left: 3vw;
    }

    dl.content-stats {
      width: 13vw;
      height: 13vw;
      padding: 4vw 1.5vw 2vw;

      dt:first-child {
        font-size: 105%;
      }

      dd:nth-child(n+2) {
        font-size: 120%;
      }
    }
  }

  a.content-stats {
    top: 3vw;
    right: 3vw;
  }

  form {
    & > * {
      margin-left: 20vw;
      margin-right: 20vw;
    }

    input,
    select,
    textarea {
      margin-top: 1vw;
      padding: 2vw;
      border-radius: 0.5vw;
    }
    textarea {
      padding: 2vw 3vw;
      font-size: 100%;

      &[name="title"] {
        height: 11vw;
      }
      &[name="content"] {
        height: 44vw;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: 6vw;
      height: 6vw;
    }
    input[type="checkbox"] {
      &:checked::after {
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
      }
    }
    input[type="radio"] {
      &:checked {
        &::after {
          top: 0.8vw;
          left: 0.8vw;
          width: 4vw;
          height: 4vw;
        }
      }
    }
    ul.data {
      & > li {
        margin: 1vw 16vw 6vw;

        &.select {
          &::after {
            right: 1vw;
            bottom: 1vw;
            font-size: 4vw;
          }
        }
        &:last-child {
          margin-bottom: 4vw;
        }
        &.checkbox,
        &.radio {
          min-height: 6vw;

          &:last-child {
            margin-left: 24vw;
            margin-bottom: 4vw;
            margin-right: 24vw;
          }

          label {
            max-width: 50vw;
          }
        }
      }
    }
    ul.actions {
      padding: 2vw 0;

      & > li {
        margin-left: 24vw;
        margin-right: 24vw;

        input[type="submit"],
        a {
          line-height: 10vw;
        }
      }
    }
  }

  nav.actions {
    ul {
      padding: 2vw 4vw;
      overflow-x: auto;

      & > li {
        margin: 0 1vw;
      }
    }

    a {
      @include button('small');
    }
  }

  a.avatar {
    width: 8vw;
    height: 8vw;

    img {
      border-radius: 4%;
    }
  }

  p.last-post {
    font-size: 100%;

    a.avatar {
      width: 6vw;
      height: 6vw;
      margin-right: 2vw;
    }
  }

  a.to-the-top {
    width: 24vw;
    line-height: 4;
  }

  footer {
    a.home {
      width: 38vw;
    }
    section.stats {
      p {
        max-width: 72vw;
        margin: 0 auto;
        font-size: 125%;
      }
    }
    section.copyright {
      p {
        margin: 2vw 4vw;
      }
    }
  }

}


// Screens wider than 720px
@media only screen and (min-width: 720px) {

  // New baseline establishing rems over viewport units
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }
  dl, ol, ul {
    margin: 3rem 0 3rem 8rem;
  }
  dl {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  dt {
    min-width: 34rem;
  }
  dd {
    margin-left: 34rem;
  }
  p {
    margin: 3rem 0;
  }


  body {
    & > header {
      display: flex;

      a.home {
        width: 13.2rem;
        margin: 1.2rem;
        padding: 0;
      }
      section.status {
        top: 1rem;
        right: 1rem;

        a.private-topics {
          right: 6rem;
          width: 4rem;
          height: 4rem;
          padding-top: 4rem;

          &::before {
            width: 4rem;
            height: 4rem;
            font-size: 3rem;
            line-height: 4rem;
          }
        }
        a.account {
          width: 4.2rem;
          height: 4.2rem;
          padding-left: 4.2rem;
        }
      }
      nav {
        ul.account {
          margin-right: 1.2rem;
          max-width: 25rem;
        }
        li {
          margin: 0 0.5rem;

          a {
            padding: 0.5rem 1rem;

            &:hover {
              @include background-color(14%, 27%);
            }
          }
        }
      }

      &.authenticated {
        nav {
          ul.account {
            margin-right: 0;
            max-width: none;
            text-align: left;
          }
        }
      }
    }
  }

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              top: 9rem;
              padding: 1rem 0;
              min-width: 18rem;
              border-radius: 0.3rem;

              &.active {
                right: 1rem;
              }
            }
          }
        }
      }
    }
  }

  h1 {
    padding: 0 4rem 2rem;
    font-size: 150%;
  }

  h2 {
    padding: 5rem 4rem;
  }

  main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  a.avatar {
    width: 10rem;
    height: 10rem;
  }

  nav.breadcrumbs {
    padding: 2rem 4rem 0;

    li {
      &::after {
        padding: 0 1rem 0 2rem;
      }
    }
  }

  nav.actions {
    display: block;
    flex: 0 1 50%;

    &::before,
    &::after {
      width: 4rem;
      height: 10rem;
    }

    ul {
      padding: 1.5rem 4rem;

      & > li {
        margin: 0 0.6rem;
      }
    }
  }

  section {
    &.content {
      margin: 5rem 0;
      padding: 0 4rem;

      h1 {
        margin-top: 6rem;
        margin-bottom: 6rem;
      }
      h2 {
        margin-top: 8rem;
        margin-bottom: 2rem;
      }
      h3 {
        margin-top: 5rem;
        margin-bottom: 0;
      }
      dl, ol, ul {
        margin: 3rem 4rem;
      }
      blockquote {
        margin: 4rem 0;
        padding: 4rem;

        & > blockquote {
          margin: 0;
        }
        p > a:first-child[href^="post/"] {
          padding: 2rem 4rem;
          margin-left: -4rem;
          margin-top: -4rem;
        }
        dl, ol, ul {
          margin-left: 4rem;
        }
      }
    }
    &.summary {
      padding: 4rem 0 2rem;

      p:last-child {
        margin-bottom: 3rem;
      }
    }
    &.notice {
      padding: 3rem 4rem 3rem 11rem;

      &.success {
        padding-left: 4rem;

        &::before {
          margin-right: 2rem;
        }
      }
      &::before {
        top: 2rem;
        left: 4rem;
        font-size: 4rem;
      }
      &.locked::before {
        left: 6rem;
      }
    }
    & > p {
      margin-right: 4rem;
      margin-left: 4rem;
    }
  }

  article {
    padding: 3rem 0;

    & > * {
      margin: 0 4rem;
    }
  }

  form {
    padding: 6rem 0;

    p.label-note {
      margin: 0.5rem 0 0;
    }
    input,
    select,
    textarea {
      margin-top: 1rem;
      padding: 1.6rem;
      border-radius: 0.4rem;
    }
    textarea {
      padding: 4rem 5rem;
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: 4rem;
      height: 4rem;
    }
    input[type="checkbox"] {
      &:checked::after {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 130%;
      }
    }
    input[type="radio"] {
      &:checked {
        &::after {
          top: 6px;
          left: 6px;
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
    ul.data {
      & > li {
        margin: 1rem 16rem 6rem;

        &.select {
          &::after {
            right: 1rem;
            bottom: 1rem;
            font-size: 2.5rem;
          }
        }
        &.textarea {
          label {
            margin: 0 4rem;
          }
          p.label-note {
            margin-right: 4rem;
            margin-left: 4rem;
          }
        }
        &.checkbox,
        &.radio {
          min-height: 4rem;

          &:last-child {
            margin-bottom: 4rem;
          }

          label {
            margin: 0 0 0 1rem;
            max-width: none;
          }
        }

        ul.data {
          margin: 6rem 0;

          ul.data {
            & > li {
              margin: 2rem 0;

              ul.checkbox,
              ul.radio {
                margin-top: 2rem;
              }
            }
          }
        }
        ul.checkbox,
        ul.radio {
          & > li {
            margin: 1rem 0 2rem;
          }
        }
      }
    }
    ul.actions {
      padding: 2rem 0;
      text-align: center;

      & > li {
        display: inline-block;
        margin-left: 2rem;
        margin-right: 2rem;

        a,
        input[type="submit"] {
          line-height: 6rem;
          padding: 0 4rem;
        }
      }
    }
  }

  a.to-the-top {
    width: 20rem;
    margin: 10rem auto;
  }

  footer {
    padding-bottom: 4rem;

    a.home {
      width: 30rem;
      margin: 8rem auto 6rem;
    }
    section.stats {
      p {
        max-width: none;
        font-size: 110%;
      }
    }
    section.copyright {
      margin: 10rem auto 0;
      width: 100%;
      font-size: 75%;

      p {
        margin: 2rem 4rem;
      }
    }
  }

}
