
/////////////////////////
////    Modernizr    ////
/////////////////////////
//
//  CSS3
//    Flexible Box Model
//    CSS Animations
//    CSS 2D Transforms
//    CSS Transitions
//
//  Extra
//    Media Queries
//    Add CSS Classes


/////////////////////////
////      fonts      ////
/////////////////////////

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/open-sans/opensans-regular-webfont.eot');
  src: url('../fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
     url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
     url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
     url('../fonts/open-sans/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/open-sans/opensans-light-webfont.eot');
  src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
     url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
     url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype'),
     url('../fonts/open-sans/opensans-light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/open-sans/opensans-bold-webfont.eot');
  src: url('../fonts/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
     url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
     url('../fonts/open-sans/opensans-bold-webfont.ttf') format('truetype'),
     url('../fonts/open-sans/opensans-bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/open-sans/opensans-semibold-webfont.eot');
  src: url('../fonts/open-sans/opensans-semidbold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
     url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
     url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
     url('../fonts/open-sans/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/open-sans/opensans-italic-webfont.eot');
  src: url('../fonts/open-sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/open-sans/opensans-italic-webfont.woff2') format('woff2'),
     url('../fonts/open-sans/opensans-italic-webfont.woff') format('woff'),
     url('../fonts/open-sans/opensans-italic-webfont.ttf') format('truetype'),
     url('../fonts/open-sans/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url('../fonts/open-sans/opensans-semibolditalic-webfont.eot');
  src: url('../fonts/open-sans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/open-sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
     url('../fonts/open-sans/opensans-semibolditalic-webfont.woff') format('woff'),
     url('../fonts/open-sans/opensans-semibolditalic-webfont.ttf') format('truetype'),
     url('../fonts/open-sans/opensans-semibolditalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url('../fonts/open-sans/opensans-bolditalic-webfont.eot');
  src: url('../fonts/open-sans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/open-sans/opensans-bolditalic-webfont.woff2') format('woff2'),
     url('../fonts/open-sans/opensans-bolditalic-webfont.woff') format('woff'),
     url('../fonts/open-sans/opensans-bolditalic-webfont.ttf') format('truetype'),
     url('../fonts/open-sans/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


/////////////////////////
////  global styles  ////
/////////////////////////
body {
  position: relative;
  font-family: $defaultFont;
  text-rendering: optimizeLegibility;
  @include background-color(13%, 15%);
  color: white;

  &.transitioning {
    main {
      position: relative;

      & > * {
        transition: opacity 0s;
        opacity: 0;
      }

      & > span.loading-indicator {
        position: absolute;
        top: 50px;
        top: 5rem;
        left: 50%;
        margin-left: -30px;
        margin-left: -3rem;
        opacity: 1;
      }
    }
  }

  &.loaded {
    main {
      & > * {
        transition: opacity 0.15s;
        opacity: 1;
      }
    }
  }

  // Navigation highlighting
  &[data-controller="index"] > header li.news a,
  &[data-controller="discussions"] > header li.discussions a,
  &[data-controller="discussion"] > header li.discussions a,
  &[data-controller="announcements"] > header li.discussions a,
  &[data-controller="announcement"] > header li.discussions a,
  &[data-controller="topic"][data-view="topic"] > header li.discussions a,
  &[data-controller="topic"][data-view="private-topic"] > header li.private-topics a,
  &[data-controller="topic"][data-view="start-private"] > header li.private-topics a,
  &[data-controller="private-topics"] > header li.private-topics a,
  &[data-controller="sign-in"] > header li.sign-in a,
  &[data-controller="register"] > header li.register a,
  &[data-controller="account"] > header li.account a {
    @include background-color(14%, 27%);
  }
}

html.no-cssanimations span.loading-indicator {
  display: block;
  width: 110px;
  width: 11rem;
  height: 50px;
  height: 5rem;
  overflow: hidden;
  text-align: center;
  background: url('/app/skins/default/images/loading.gif') center no-repeat;
}

html.cssanimations.csstransforms span.loading-indicator {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: 100%;
  overflow: hidden;
  border-radius: 30px;
  border-top: 3px solid #666;
  border-right: 3px solid #c8c8c8;
  border-bottom: 3px solid #666;
  border-left: 3px solid #666;
  animation: loading-indicator 0.75s linear 100;
}

@keyframes loading-indicator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  @include color(100%, 90%);
}

body > header {
  min-height: 14vw;
  @include color(0%, 94%);
  @include background-color(14%, 19%);

  a.home {
    display: block;
    width: 40vw;
    margin: 0 auto;
    padding: 5vw 0;
    text-align: center;
    text-decoration: none;
  }

  a.sign-in {
    @include button('small', 'lightGhost');
    position: absolute;
    top: 3vw;
    right: 2.5vw;
  }

  a.account {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 10vw;
    height: 10vw;
    text-indent: -100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  nav {
    text-align: center;

    li {
      display: inline-block;
      margin: 1vw;
    }
  }
}

// The menu button and sliding nav are used on mobile and tablet.
// Much easier to limit here than to overwrite within the 960px
// media query later.
@media only screen and (max-width: 959px) {
  html.js.csstransitions {
    body > header {
      position: relative;

      nav {
        display: none;
      }
    }
    #menu-icon {
      @include button('small');
      position: absolute;
      top: 3vw;
      left: 2.5vw;
      z-index: 500;
      padding-right: 2vw;
      padding-left: 8vw;
      font-size: 100%;

      &:before {
        content: '\e6bd';
        font-family: 'glyphs';
        position: absolute;
        top: 0;
        left: 2vw;
        font-size: 120%;
      }
    }

    .slide-menu {
      position: fixed;
      z-index: 1000;
      font-size: 125%;
      @include background-color(14%, 25%);

      &.left {
        top: 0;
        left: -100vw;
        width: 75vw;
        height: 100vh;
        text-align: left;
        transition: left 0.4s;

        &.open {
          left: 0;
        }
      }
      &.right {
        top: 0;
        right: -100vw;
        width: 75vw;
        height: 100vh;
        text-align: right;
        transition: right 0.4s;

        &.open {
          right: 0;
        }
      }
      &.bottom {
        bottom: -50vh;
        width: 100vw;
        height: 50vh;
        text-align: center;
        transition: bottom 0.4s;

        &.open {
          bottom: 0;
        }
      }

      li {
        display: block;
        line-height: 1;
        border-top: 1px solid #4F566B;

        a {
          display: block;
          padding: 5vw 5vw 6vw;
          text-decoration: none;
        }
      }
    }

    #menu-shadow {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      z-index: 999;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      transition: opacity 0.4s;
    }

    // body.menu-opening,
    body.menu-open {
      #menu-shadow {
        width: 100vw;
        height: 100vh;
        opacity: 1;
      }
    }

    body.menu-closing {
      #menu-shadow {
        width: 100vw;
        height: 100vh;
      }
    }
  }

}

nav.breadcrumbs {
  padding: 4vw 4vw 0;
  font-family: $titleFont, $defaultFont;
  @include background-color(14%, 27%);

  li {
    display: inline-block;
    margin-bottom: 1vw;

    &:after {
      content: '/';
      padding: 0 1vw 0 2vw;
    }
  }
}

nav.pagination {
  position: relative;
  width: 100vw;
  padding: 4vw 0;
  font-size: 120%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  @include background-color(14%, 40%);

  li {
    line-height: 10vw;

    &.first,
    &.previous,
    &.next,
    &.last {
      position: absolute;
      top: 4vw;
    }

    &.first {
      left: 4vw;
    }
    &.previous {
      left: 22vw;
    }
    &.next {
      right: 22vw;
    }
    &.last {
      right: 4vw;
    }

    a {
      @include button('medium');
      padding: 0;
      min-width: 14vw;
      font-size: 100%;
    }
  }
}

main {
  clear: both;
  overflow: hidden;
  @include background-color(14%, 30%);

  & > h1:first-child {
    margin-top: 5vw;
  }

  & > p {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

section {
  &.content {
    margin: 6vw 0 8vw;
    padding: 0 4vw;
    line-height: 1.6;
    background: none;

    & > * {
      margin-left: 0;
      margin-right: 0;
    }
    h1 {
      padding: 0;
      margin-top: 8vw;
      margin-bottom: 8vw;
    }
    h2 {
      margin-top: 10vw;
      margin-bottom: 2vw;
      padding: 0;
      background: none;
      text-align: left;
      text-decoration: underline;
    }
    h3 {
      margin-top: 8vw;
      margin-bottom: 0;
      padding: 0;
      font-family: $italicFont;
    }

    & > img,
    * > img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      // Legacy OT.com emoticons
      &[src^="i/expressions/"] {
        display: inline;
        width: auto;
        vertical-align: middle;
      }
    }

    dl, ol, ul {
      margin-left: 8vw;
    }

    blockquote {
      padding: 4vw;
      overflow: hidden;
      @include background-color(14%, 25%);

      & > blockquote {
        border: 1px solid;
        @include border-color(14%, 22%);
      }

      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
      p > a:first-child[href^="post/"] {
        display: block;
        width: 120%;
        padding: 2vw 4vw 3vw;
        margin-left: -4vw;
        margin-top: -4vw;
        @include background-color(14%, 22%);
      }
      dl, ol, ul {
        margin-left: 8vw;
      }
    }
  }

  &.summary {
    padding: 5vw 0 2vw;
    @include background-color(14%, 27%);

    & > p {
      &:nth-child(2) {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 4vw;
      }
    }
  }

  &.notice {
    padding: 4vw 4vw 4vw 14vw;
    position: relative;
    clear: both;
    @include background-color(14%, 19%);

    &:before {
      @include icon($gNotice);
      @include color(100%, 90%);
      position: absolute;
      top: 4vw;
      left: 4vw;
      font-size: 6vw;
    }

    & > p {
      margin-left: 0;
      margin-right: 0;
    }

    &.error,
    &.locked,
    &.banned {
      background: hsl(0,40%,50%);

      &:before,
      a {
        color: white;
      }
    }

    &.success:before {
      content: $gSuccess;
    }

    &.error:before {
      content: $gError;
    }

    &.locked:before {
      content: $gLock;
    }

    &.banned:before {
      content: $gBanned;
    }

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &.preview {
    article {
      padding: 4vw 0;
      border-bottom: 1px solid;
      @include border-color(14%, 25%);

      h3.title {
        font-family: $titleFont;
      }
      section.content {
        margin-bottom: 0;
      }
    }
  }

  & > p {
    margin-right: 4vw;
    margin-left: 4vw;
  }
}

article {
  padding: 5vw 0 6vw;
  border-bottom: 1px solid;
  @include border-color(14%, 25%);

  &.unread,
  &.updated {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 1vw;
      height: 100%;
      position: absolute;
      top: 0;
      @include background-color(100%, 90%);
    }
  }

  & > * {
    margin: 0 4vw;
  }

  header {
    position: relative;
    min-height: 22vw;
    margin: 0;
    text-align: left;
    @include background-color(14%, 22%);

    img {
      position: absolute;
      width: 22vw;
      height: 22vw;
    }
    dl {
      margin-bottom: 0;
      padding: 5vw 0;
    }
    dt {
      min-width: 24vw;
      text-indent: -100vw;

      &.time {
        font-size: 85%;
      }
    }
    dd {
      margin-left: 24vw;

      &.topic,
      &.author {
        font-family: $titleFont;
      }
      &.time {
        font-size: 85%;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  padding: 0 4vw 5vw;
  font-family: $titleFont;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

h2 {
  padding: 8vw 4vw;
  font-family: $titleFont;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-align: center;
  @include background-color(14%, 22%);
}

a.to-the-top {
  @include button('medium', 'lightGhost');
  width: 50vw;
  margin: 10vw auto;
}

footer {
  border-top: 0.1rem solid #586175;
}



/////////////////////////
////      forms      ////
/////////////////////////

form {
  margin: 0 auto;
  padding: 6vw 0;

  label {
    font-family: $titleFont;
    font-size: 120%;
    line-height: 1;
    color: white;
  }
  p.label-note {
    margin: 1vw 0 0;
    color: #CDCDCD;
    line-height: 1.5;
  }
  input,
  select {
    width: 100%;
    margin-top: 2vw;
    padding: 4vw;
    font-size: 130%;
    word-wrap: normal;
    background: #5E667A;
    border: 1px solid;
    @include border-color(14%, 24%);
    border-radius: 0.3rem;
    @include background-color(13%, 40%);
  }

  select {
    padding: 3vw 4vw;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    margin-top: 0;
    width: 10vw;
    height: 10vw;
    vertical-align: middle;
    position: relative;
  }

  input[type="checkbox"] {
    &:checked {
      &:after {
        @include icon($gChecked);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 10vw;
        height: 10vw;
        line-height: 10vw;
        font-size: 150%;
        text-align: center;
      }
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:checked {
      &:after {
        position: absolute;
        top: 1.2vw;
        left: 1.2vw;
        display: block;
        width: 7vw;
        height: 7vw;
        background-color: white;
        border-radius: 50%;
        content: '';
      }
    }
  }

  textarea {
    font-family: Menlo, Consolas, monospace;
    font-size: 90%;
    width: 100%;
    margin-top: 2vw;
    padding: 4vw;
    @include background-color(13%, 40%);
    border-top: 1px solid;
    border-bottom: 1px solid;
    @include border-color(14%, 24%);

    &[name="content"] {
      height: 50vh;
    }
  }
  ul.data {
    margin: 0;

    & > li {
      margin: 1vw 4vw 9vw;
      list-style: none;

      &:last-child {
        margin-bottom: 2vw;
      }
      &.text,
      &.select {
        label {
          display: block;
        }
      }
      &.textarea {
        margin-right: 0;
        margin-left: 0;

        label {
          display: block;
          margin: 0 4vw;
        }
        p.label-note {
          margin-right: 4vw;
          margin-left: 4vw;
        }
      }
      &.checkbox,
      &.radio {
        position: relative;
        min-height: 10vw;

        &:last-child {
          margin-bottom: 0;
        }
        label {
          display: inline-block;
          max-width: 78vw;
          margin: 0 0 0 2vw;
          vertical-align: middle;
          font-family: $defaultFont;
          font-size: 100%;
          line-height: 1.4;
        }
      }

      ul ul {
        margin-top: 12vw;
      }
    }
  }
  ul.actions {
    margin: 0;
    padding: 8vw 0;

    & > li {
      display: block;
      margin: 0 4vw 4vw;

      input[type="submit"],
      a {
        @include button('large');
      }
    }
  }
}

nav.actions {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  @include background-color(14%, 32%);

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 4vw;
    height: 20vw;
    z-index: 101;
  }

  &:before {
    left: 0;
    background-image: linear-gradient(to right, hsl(225, 14%, 32%), hsla(225, 14%, 32%, 0));
  }
  &:after {
    right: 0;
    background-image: linear-gradient(to left, hsl(225, 14%, 32%), hsla(225, 14%, 32%, 0));
  }

  ul {
    // Padding added here instead of parent <nav> because it puts the scrollbar
    // under the buttons instead of on top of them
    padding: 4vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 1.5vw;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include button('medium');
  }
}

// Avatars
a.avatar {
  display: block;
  margin: 0;
  width: 18vw;
  height: 18vw;

  img {
    width: 100%;
    height: 100%;
    border-radius: 12%;
  }
}


// Screens wider than 350px
@media only screen and (min-width: 350px) {

  body {
    font-size: 4vw;
  }

}


// Screens wider than 400px
@media only screen and (min-width: 400px) {

  body {
    font-size: 3.8vw;
  }

}

@media only screen and (min-width: 500px) {

  article {
    padding: 4vw 0;
  }

}


// Screens wider than 768px
@media only screen and (min-width: 768px) {

  body {
    font-size: 2.2vw;

    & > header {
      a.home {
        padding: 4vw 0;
      }
      a.sign-in {
        top: 2.5vw;
        right: 2.5vw;
      }
      a.account {
        top: 1vw;
        right: 1vw;
        width: 8vw;
        height: 8vw;
      }
    }
  }

  h1 {
    padding-bottom: 3vw;
  }

  h2 {
    padding: 5vw 4vw;
  }

  p {
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  nav.breadcrumbs {
    padding-top: 2vw;
  }

  nav.pagination {
    padding: 2vw 0;

    li {
      line-height: 6vw;

      &.first,
      &.previous,
      &.next,
      &.last {
        top: 2vw;
      }
      &.first {
        left: 15vw;
      }
      &.previous {
        left: 29vw;
      }
      &.next {
        right: 29vw;
      }
      &.last {
        right: 15vw;
      }
      a {
        min-width: 11vw;
      }
    }
  }

  section {
    &.content {
      & > img,
      * > img {
        width: auto;
        max-width: 100%;
      }
      dl, ol, ul {
        margin-bottom: 4vw;
        margin-left: 6vw;
      }
      blockquote {
        dl, ol, ul {
          margin-left: 6vw;
        }
      }
    }
    &.summary {
      padding-top: 2vw;

      p {
        &:last-child {
          margin-bottom: 3vw;
        }
      }
    }
    &.notice {
      &:before {
        top: 3vw;
      }
    }
  }

  form {
    & > * {
      margin-left: 20vw;
      margin-right: 20vw;
    }

    input,
    select {
      margin-top: 1vw;
      padding: 2vw;
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: 6vw;
      height: 6vw;
    }
    input[type="checkbox"] {
      &:checked:after {
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
      }
    }
    input[type="radio"] {
      &:checked {
        &:after {
          width: 5vw;
          height: 5vw;
        }
      }
    }
    textarea {
      margin-top: 1vw;
    }
    ul.data {
      & > li {
        margin: 1vw 20vw 6vw;

        &:last-child {
          margin-bottom: 4vw;
        }
        &.checkbox,
        &.radio {
          min-height: 6vw;

          label {
            max-width: 50vw;
          }
        }
      }
    }
    ul.actions {
      padding: 2vw 0;

      & > li {
        margin-left: 20vw;
        margin-right: 20vw;

        input[type="submit"],
        a {
          line-height: 10vw;
        }
      }
    }
  }

  nav.actions {
    ul {
      padding: 2vw 4vw;
      overflow-x: auto;

      & > li {
        margin: 0 1vw;
      }
    }
  }

  a.avatar {
    width: 14vw;
    height: 14vw;

    img {
      border-radius: 8%;
    }
  }

  a.to-the-top {
    width: 24vw;
  }

  html.js.csstransitions {
    body {
      & > header {
        position: fixed;
        width: 100%;
        min-height: 10vw;
        z-index: 500;
      }
    }
    main {
      padding-top: 10vw;
    }
    #menu-icon {
      top: 2.5vw;
      left: 2.5vw;
      padding-left: 5.5vw;
      font-size: 110%;
    }
  }

}


// Screens wider than 960px
@media only screen and (min-width: 960px) {

  // New baseline establishing rems over viewport units
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }
  dl, ol, ul {
    margin: 3rem 0 3rem 8rem;
  }
  dl {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  dt {
    min-width: 34rem;
  }
  dd {
    margin-left: 34rem;
  }
  p {
    margin: 3rem 0;
  }


  body {
    & > header {
      a.home {
        display: inline-block;
        padding: 0;
        width: 20rem;
        min-height: 8rem;
        line-height: 8rem;
      }
      a.sign-in {
        display: none;
      }
      a.account {
        top: 1rem;
        right: 1rem;
        width: 6rem;
        height: 6rem;
      }
      nav {
        float: right;
        display: flex;
        min-height: 8rem;
        margin-right: 2rem;

        ul {
          align-self: center;
          text-align: right;
        }
        li {
          display: inline-block;
          margin: 0 0.5rem;
          text-align: center;

          a {
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;

            &:hover {
              @include background-color(14%, 27%);
            }
          }
        }
      }

      &.authenticated {
        nav {
          margin-right: 8rem;
        }
      }
    }
  }

  h1 {
    padding: 0 4rem 2rem;
    font-size: 150%;
  }

  h2 {
    padding: 5rem 4rem;
  }

  main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  a.avatar {
    width: 10rem;
    height: 10rem;
  }

  nav.breadcrumbs {
    padding: 2rem 4rem 0;

    li {
      margin-bottom: 1rem;

      &:after {
        padding: 0 1rem 0 2rem;
      }
    }
  }

  nav.actions {
    &:before,
    &:after {
      width: 4rem;
      height: 10rem;
    }

    ul {
      padding: 1.5rem 4rem;

      & > li {
        margin: 0 0.6rem;
      }
    }

    a {
      @include button('small');
    }
  }

  nav.pagination {
    padding: 2rem 0;
    width: 100%;

    li {
      line-height: 6rem;

      &.first,
      &.previous,
      &.next,
      &.last {
        top: 2rem;
      }
      &.first {
        left: 18rem;
      }
      &.previous {
        left: 30rem;
      }
      &.next {
        right: 30rem;
      }
      &.last {
        right: 18rem;
      }
      a {
        min-width: 8rem;
      }
    }
  }

  section {
    &.content {
      margin: 5rem 0;
      padding: 0 4rem;

      h1 {
        margin-top: 6rem;
        margin-bottom: 6rem;
      }
      h2 {
        margin-top: 8rem;
        margin-bottom: 2rem;
      }
      h3 {
        margin-top: 5rem;
        margin-bottom: 0;
      }
      dl, ol, ul {
        margin: 3rem 4rem;
      }
      blockquote {
        padding: 4rem;

        & > blockquote {
          margin: 0;
        }
        p > a:first-child[href^="post/"] {
          padding: 2rem 4rem;
          margin-left: -4rem;
          margin-top: -4rem;
        }
        dl, ol, ul {
          margin-left: 4rem;
        }
      }
    }
    &.summary {
      padding: 2rem 0;

      p:last-child {
        margin-bottom: 3rem;
      }
    }
    &.notice {
      padding: 3rem 4rem 3rem 11rem;

      &:before {
        top: 2rem;
        left: 4rem;
        font-size: 4rem;
      }
      &.locked:before {
        left: 8rem;
      }
    }
    & > p {
      margin-right: 4rem;
      margin-left: 4rem;
    }
  }

  article {
    padding: 3rem 0;

    & > * {
      margin: 0 4rem;
    }
  }

  html.js.csstransitions {
    body {
      & > header {
        min-height: 8rem;

      }
    }
    main {
      padding-top: 8rem;
    }
  }

  form {
    padding: 6rem 0;

    p.label-note {
      margin: 1rem 0 0;
    }
    input,
    select {
      margin-top: 1rem;
      padding: 1.6rem;
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: 4rem;
      height: 4rem;
    }
    input[type="checkbox"] {
      &:checked:after {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 130%;
      }
    }
    input[type="radio"] {
      &:checked {
        &:after {
          width: 4rem;
          height: 4rem;
        }
      }
    }
    textarea {
      margin-top: 1rem;
      padding: 4rem;
      font-size: 100%;
    }
    ul.data {
      & > li {
        margin: 1rem 26rem 6rem;

        &.checkbox,
        &.radio {
          min-height: 4rem;

          label {
            margin: 0 0 0 1rem;
            max-width: 38rem;
          }
        }
      }
    }
    ul.actions {
      padding: 2rem 0;
      text-align: center;

      & > li {
        display: inline-block;
        margin-left: 2rem;
        margin-right: 2rem;

        a,
        input[type="submit"] {
          line-height: 6rem;
          padding: 0 4rem;
        }
      }
    }
  }

  a.to-the-top {
    width: 20rem;
    margin: 10rem auto;
  }

}
