///////////////////
//  index view   //
///////////////////

body[data-view="index"] {
  time {
    display: block;
    margin: 4vw auto 8vw;
    font-size: 85%;
    text-align: center;
    color: #acacac;
  }
}
