//////////////////////////////
//     post view (shared)   //
//////////////////////////////

body[data-controller="post"] {

  @media only screen and (min-width: 768px) {

    section.summary {
      dl {
        margin-bottom: 2vw;
      }
      dt {
        min-width: 22vw;
      }
      dd {
        margin-left: 22vw;
      }
    }

  }

  @media only screen and (min-width: 960px) {

    section.summary {
      dl {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      dt {
        min-width: 16rem;
      }
      dd {
        margin-left: 16rem;
      }
    }

  }

}

article.post {
  padding: 0;
  border-bottom: none;

  header {
    position: relative;
    min-height: 18vw;
    margin: 0;
    font-size: 110%;
    text-align: left;
    @include background-color(14%, 22%);

    a.avatar {
      position: absolute;
      left: 4vw;
    }
    dl {
      margin-bottom: 0;
      padding: 2.4vw 0;
    }
    dt {
      min-width: 21vw;
      text-indent: -100vw;

      &.time {
        font-size: 85%;
      }
    }
    dd {
      margin-left: 22vw;

      &.topic,
      &.author {
        font-family: $titleFont;
      }
      &.time {
        font-size: 85%;
      }
    }
  }

  p.edited {
    font-size: 80%;
    font-family: $italicFont;
    text-align: right;
  }

  section.signature {
    margin: 0;
    padding: 4vw;
    text-align: right;
    font-size: 85%;
    line-height: 1.6;
    overflow: auto;
    @include background-color(12%, 34%);

    & > * {
      float: right;
      clear: right;
      margin: 0 0 4vw;
      max-width: 92vw;
    }

    & > *:first-child {
      padding-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    blockquote {
      padding: 2vw;

      & > * {
        margin-bottom: 3vw;
      }
      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  nav.actions {
    background: none;

    &:before {
      background-image: linear-gradient(to right, hsl(226, 12%, 30%), hsla(226, 12%, 30%, 0));
    }
    &:after {
      background-image: linear-gradient(to left, hsl(226, 12%, 30%), hsla(226, 12%, 30%, 0));
    }
    ul {
      text-align: right;
    }
    li {
      margin-right: 0.6vw;

      &:last-child {
        margin-right: 0;
      }
    }
    a {
      @include button('small', 'dark');
    }
  }
}


@media only screen and (min-width: 768px) {

  article.post {
    header {
      min-height: 14vw;

      dl {
        padding: 3vw 0;
      }
      dt {
        min-width: 18vw;
      }
      dd {
        margin-left: 18vw;
      }
    }

    section.signature {
      padding: 3vw 4vw;

      & > * {
        margin-bottom: 3vw;
      }
    }

    nav.actions {
      ul {
        padding: 4vw;
      }
    }
  }

}


@media only screen and (min-width: 960px) {

  article.post {
    header {
      min-height: 10rem;

      a.avatar {
        left: 4rem;
      }
      dl {
        margin: 0;
        padding: 2.4rem 0;
      }
      dt {
        min-width: 17rem;
      }
      dd {
        margin-left: 17rem;
      }
    }
    nav.actions {
      ul {
        padding: 2rem;
      }
      &:before,
      &:after {
        width: 2rem;
      }
    }
    section.signature {
      padding: 2rem;

      & > * {
        margin-bottom: 2.5rem;
      }
    }
  }

}
