//////////////////////////////
//        post styles       //
//////////////////////////////

// Post view styles
body[data-controller="post"] {

  section.summary {
    dl {
      margin: 0;
    }
  }

  @media only screen and (min-width: 720px) {

    section.summary {
      dt {
        width: 16rem;
      }
      dd {
        margin-left: 16rem;
      }
    }

  }

}


// Global post styles
article.post {
  background-color: hsl(227,14%,22%);

  p.edited {
    flex: 0 0 96vw;
    margin: 0;
    font-size: 80%;
    @include bodyFont(italic);
    text-align: right;
  }
  nav.actions {
    flex-basis: 100%;
    background: none;

    ul {
      justify-content: flex-end;
      margin-right: 4vw;
    }
    li {
      margin-right: 0.6vw;

      &:last-child {
        margin-right: 0;
      }
    }
    a {
      @include button(dark);
    }
  }

  @media only screen and (min-width: 600px) {
    nav.actions {
      padding: 2vw;

      &::before,
      &::after {
        display: none;
      }
      ul {
        justify-content: flex-end;
        margin: 0;
      }
      li {
        margin-right: 0;

        &:nth-child(n+2) a {
          border-left: none;
        }
      }

      a {
        padding: 1.6vw 2vw;
        border-radius: 0;
      }
    }
  }

  @media only screen and (min-width: 720px) {
    p.edited {
      display: none;
    }
    nav.actions {
      padding: 1.2rem;

      a {
        padding: 0.8rem 1rem;
        font-size: 85%;
      }
    }
  }

}