//////////////////////////////
//        post styles       //
//////////////////////////////

// Post view styles
body[data-controller="post"][data-view="post"] {

  section.summary {
    dl {
      margin: 0;
    }
  }

  @media only screen and (min-width: 720px) {

    section.summary {
      dt {
        flex-basis: 16rem;
      }
    }

  }

}


// Global post styles
article.post {
  nav.actions {
    flex-basis: 100%;

    ul {
      justify-content: flex-end;
      margin-right: 1.2rem;
    }
    li {
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      @include button($padding: 0.8rem 1rem, $fontSize: 86%);
    }
  }
  

  @media only screen and (min-width: 720px) {
    nav.actions {
      padding: 1.2rem;

      ul {
        justify-content: flex-end;
        margin: 0;
      }
      li {
        margin-bottom: 0;
      }
    }
  }

}