//////////////////////
//  topic patterns  //
//////////////////////

body[data-controller="topic"],
body[data-controller="announcement"] {

  section.summary {
    h1 {
      padding-bottom: 4vw;
    }
    a.avatar {
      display: inline-block;
      margin-left: 4vw;
      vertical-align: middle;
    }
    dl.byline {
      display: inline-block;
      margin: 0 0 0 2vw;
      vertical-align: middle;

      dt {
        position: absolute;
        left: -100vw;
      }
      dd {
        display: inline-block;
        margin-left: 0;

        &.date {
          color: hsl(0,0%,67%);

          &::before {
            content: ' – ';
          }
        }
      }
    }
  }

  // First page
  &[data-page="1"] {
    article.post:first-of-type {
      header {
        position: absolute;
        left: -100vw;
      }
    }
  }

  // Subsequent pages
  &:not([data-page="1"]) {
    section.summary {
      &::before {
        display: none;
      }
    }
    nav.topic.actions {
      margin: 4vw 0 2vw;
    }
  }

  section.form.quick-reply {
    margin-top: 8vw;

    form {
      margin-top: 0;
      padding-top: 0;
    }
    h2 {
      position: absolute;
      left: -100vw;
    }
    li.post-content {
      margin-top: 0;

      label {
        position: absolute;
        left: -100vw;
      }
    }
    textarea {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 600px) {

    // First page
    &[data-page="1"] {
      article.post:first-of-type {
        margin: 0;
        padding: 0;
        background: hsl(227,14%,26%);

        section.content {
          margin: 0;
          background: none;

          &::before {
            display: none;
          }
        }
        p.edited {
          background: none;
        }
        nav.actions {
          background: none;
        }
      }
    }

    // Subsequent pages
    &:not([data-page="1"]) {
      nav.pagination,
      nav.topic.actions {
        margin: 0 2vw;
      }
    }

    nav.topic.actions {
      ul {
        li {
          &:first-child a {
            border-left: none;
          }
        }
      }
    }
    section.posts {
      background-color: hsl(227,14%,29%);
    }
    article.post {
      margin: 2vw 0;
      padding: 2vw;

      header {
        padding: 0;
        background: none;

        dl {
          align-items: flex-start;
          justify-content: space-between;
          margin-left: 2vw;
        }
        dd.author {
          flex: 1 1 auto;
          font-size: 85%;
          line-height: 1.5;
        }
        dd.time {
          flex: 1 1 auto;
        }
      }
      section.content.post {
        position: relative;
        margin: -4.5vw 0 0 10vw;
        padding: 3vw;
        border-top-right-radius: 0.5vw;
        border-top-left-radius: 0.5vw;
        background-color: hsl(227,14%,23%);

        &::before {
          content: '';
          display: block;
          width: 2vw;
          height: 2vw;
          transform: rotate(45deg);
          position: absolute;
          top: 1vw;
          left: -1vw;
          background-color: #323643;
        }
      }
      p.edited {
        flex: 1 1 100%;
        margin: 0 0 0 10vw;
        padding: 2vw 2vw 0;
        background-color: hsl(227,14%,23%);
      }
      nav.actions {
        margin: 0 0 0 10vw;
        padding: 2vw;
        background-color: hsl(227,14%,23%);
      }
      &[data-signature="false"] {
        nav.actions {
          border-bottom-right-radius: 0.5vw;
          border-bottom-left-radius: 0.5vw;
        }
      }
      section.content.signature {
        margin-left: 10vw;
        padding: 2vw;
        background-color: hsl(227,15%,26%);
      }
      &[data-signature="true"] {
        section.content.signature {
          border-bottom-right-radius: 0.5vw;
          border-bottom-left-radius: 0.5vw;
        }
      }
    }
    section.quick-reply {
      overflow: hidden;

      form {
        ul.data {
          > li {
            margin-bottom: 2vw;
          }
        }
        ul.actions {
          width: 65vw;
          justify-content: flex-end;
          float: left;
          padding: 0;

          :last-child {
            margin-right: 0;
          }
        }
      }
      li.subscribe {
        margin: 0;

        label {
          max-width: 20vw;
        }
      }
    }

  }

  @media only screen and (min-width: 720px) {

    section.summary h1 {
      padding-bottom: 4rem;
    }
    article.post {
      margin: 1.6rem 0;
      padding: 1.6rem;

      section.content.post {
        margin: -2.4rem 0 0 9.6rem;
        padding: 2.4rem;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
    }
    section.form.quick-reply {
      ul.data {
        li.subscribe {
          float: left;
          margin: 2rem 0 0 4rem;
        }
      }
      ul.actions {
        padding: 0;
      }
    }

  }

  // Topic and announcement views (excludes start, move, etc.)
  &[data-view="topic"][data-page="1"],
  &[data-view="private-topic"][data-page="1"],
  &[data-view="announcement"][data-page="1"] {

    @media only screen and (min-width: 600px) {

      section.summary {
        h1 {
          flex-basis: 66vw;
          margin-left: 16vw;
          padding-bottom: 0;
          padding-top: 2vw;
        }
        a.avatar {
          margin: 0;
          position: absolute;
          top: 4.5vw;
          left: 3vw;
          width: 14vw;
          height: 14vw;
        }
        dl.byline {
          margin: 0.5vw 4vw 0 20vw;
          font-size: 110%;
          flex: 1 1 100%;
        }
      }

    }

    @media only screen and (min-width: 720px) {

      section.summary {
        h1 {
          flex: 1 1 54rem;
          min-height: 4.4rem;
          padding: 0;
          margin: 0 12.4rem 0 10.8rem;
        }
        a.avatar {
          top: 2rem;
          left: 1.6rem;
          width: 7.2rem;
          height: 7.2rem;
        }
        dl.byline {
          margin: 0.4rem 12.4rem 0 10.8rem;
        }
      }

    }

  }
  &[data-view="topic"]:not([data-page="1"]),
  &[data-view="private-topic"]:not([data-page="1"]),
  &[data-view="announcement"]:not([data-page="1"]) {

    @media only screen and (min-width: 600px) {
      section.summary {
        h1 {
          flex: 0 1 auto;
          margin-right: 0;
        }
      }
    }

    @media only screen and (min-width: 720px) {
      section.summary {
        h1 {
          padding-bottom: 2.4rem;
        }
      }
    }

  }

}

// Private topic view
body[data-controller="topic"][data-view="private-topic"] {

  section.notice.private {
    &::before {
      @include icon($gPrivate);
    }
    p {
      display: inline;
      margin-bottom: 0;

      &::after {
        content: ' ';
      }
    }
  }
  ul.participants {
    display: inline;
    margin-left: 0;

    li {
      list-style: none;
      display: inline;

      &:nth-child(n+2) {
        margin-left: -4px;

        &::before {
          content: ', ';
        }
      }
      &:last-child {
        margin-left: 0;

        &::before {
          content: ' and ';
        }
        &::after {
          content: '.';
          // Prevents the period from becoming a widow on the next line
          position: absolute;
        }
      }

      a {
        // Prevents line breaks in usernames
        display: inline-block;
      }
    }
  }

}