//////////////////////
//  topic patterns  //
//////////////////////

body[data-controller="topic"][data-view="topic"],
body[data-controller="post"][data-view="topic"],
body[data-controller="topic"][data-view="private-topic"],
body[data-controller="post"][data-view="private-topic"],
body[data-controller="announcement"][data-view="announcement"],
body[data-controller="post"][data-view="announcement"] {

  section.summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h1 {
      flex: 1 1 100%;
    }
    a.avatar {
      display: inline-block;
      vertical-align: middle;
    }
    dl.byline {
      flex-wrap: nowrap;
      margin: 0 0 0 4vw;

      dt {
        flex-basis: auto;
        position: absolute;
        left: -100vw;
      }
      dd {
        flex-basis: auto;

        &.date {
          &::before {
            content: '–';
            display: inline-block;
            margin: 0 1vw;
          }
        }
      }
    }
  }

  section.posts {
    > nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 4vw auto;

      h2 {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  // First page
  &[data-page="1"][data-action="handler"],
  &[data-page="1"][data-action="topic"] {
    section.posts {
      > nav {
        nav.actions ul {
          margin-bottom: 0;
        }
      }
    }
    article.post:first-of-type {
      header {
        position: absolute;
        left: -100vw;
      }
    }
  }

  // Subsequent pages
  &:not([data-page="1"]) {
    section.summary {
      &::before {
        display: none;
      }
    }
  }

  article.post {
    padding: 0;
    border: none;

    header {
      flex: 0 0 100%;
      display: flex;
      margin: 0;
      padding: 2vw;
      position: relative;
      text-align: left;

      a.avatar {
        flex: 0 0 12vw;
      }
      dl {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 0;
        margin-bottom: 0;
      }
      dt {
        position: absolute;
        left: -100vw;
      }
      dd {
        &.author {
          flex: 1 0 40vw;
          line-height: 1.2;
        }
        &.time {
          flex-basis: 32vw;
          font-size: 85%;
          text-align: right;
        }
        &.link {
          flex-basis: auto;
          margin-left: 2vw;
          font-size: 85%;
          
          a {
            display: inline-block;
            width: 6vw;
            height: 6vw;
          }
          svg.icon {
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
      }
    }
    section.signature {
      display: flex;
      align-items: flex-end;
      width: 100%;

      section.staff {
        flex: 1 1;
        display: flex;
        align-items: center;
        min-height: 14vw;
        padding: 0 2vw 0 15vw;
        @include titleFont($weight: normal);
        font-size: 88%;
        line-height: 1.3;
        text-transform: uppercase;
      }
      section.content {
        align-self: flex-end;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0;
        padding: 2vw;
        font-size: 80%;
        text-align: right;
        overflow: auto;
  
        > * {
          float: right;
          clear: right;
          margin: 0 0 4vw;
          max-width: 94vw;
        }
  
        > *:first-child {
          padding-top: 0;
        }
        > *:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
  
        blockquote {
          padding: 2vw;
  
          > * {
            margin-bottom: 3vw;
          }
          > *:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &::after {
      display: none;
    }
  }

  section.form.quick-reply {
    margin-top: 8vw;

    form {
      margin-top: 0;
      padding-top: 0;
    }
    h2 {
      position: absolute;
      left: -100vw;
    }
    li.post-content {
      margin-top: 0;

      label {
        position: absolute;
        left: -100vw;
      }
    }
    textarea {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 375px) {
    article.post {
      header {
        dd.time {
          flex-basis: 28vw;
        }
      }
    }
  }

  @media only screen and (min-width: 400px) {
    article.post {
      header {
        a.avatar {
          flex-basis: 10vw;
        }
        dd.time {
          flex-basis: 26vw;
        }
      }
    }
  }

  @media only screen and (min-width: 600px) {
    section.summary {
      dl.byline {
        dd.author {
          flex-grow: 0;
        }
      }
    }
    section.posts {
      > h2 {
        margin: 0 2vw;
      }
    }

    // First page
    &[data-page="1"] {
      article.post:first-of-type {
        padding: 0;

        section.content {
          margin: 0;
          border-radius: 0;

          &::before {
            display: none;
          }
        }
        section.content.post {
          padding: 4vw;
        }
        nav.actions {
          margin: 0;
          border-radius: 0;
        }
        section.signature {
          margin: 0;
          border-radius: 0;
        }
      }
    }

    nav.topic.actions {
      ul {
        li {
          &:first-child a {
            border-left: none;
          }
        }
      }
    }
    article.post {
      padding: 2vw;
      background: none;

      header {
        padding: 0;
        background: none;

        a.avatar {
          flex: 0 0 8vw;
        }
        dl {
          align-items: flex-start;
          justify-content: space-between;
          position: relative;
          margin: 0 0 0 2vw;
          padding: 1.8vw 2vw 0;
          border-top-left-radius: 0.5vw;
          border-top-right-radius: 0.5vw;

          &::before {
            content: '';
            display: block;
            width: 2vw;
            height: 2vw;
            transform: rotate(45deg);
            position: absolute;
            top: 3vw;
            left: -1vw;
          }
          &::after {
            content: '';
            display: block;
            width: calc(100% - 4vw);
            height: 1px;
            position: absolute;
            bottom: 2vw;
            left: 2vw;
          }
        }
        dd.author {
          flex-basis: auto;
          font-size: 90%;
          line-height: 1.5;
        }
        dd.time {
          flex: 1 1 auto;
          font-size: 90%;

          span.edited {
            display: initial;
          }
        }
        dd.link {
          flex: 0 1 auto;
          position: initial;
          font-size: 90%;

          a {
            width: 2.5vw;
            height: 2.5vw;
          }
        }
      }
      section.content.post {
        position: relative;
        margin: 0 0 0 10vw;
        padding: 1vw 3vw;
      }
      nav.actions {
        margin: 0 0 0 10vw;
        border-bottom-right-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
      }
      &.signature {
        nav.actions {
          border-radius: 0;
        }
      }
      section.signature {
        margin-left: 10vw;
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom-right-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
        overflow: hidden;

        section.staff {
          min-height: 10vw;
          padding-left: 10vw;
          font-size: 100%;
        }
        section.content {
          padding: 2vw;
  
          > * {
            margin: 0 0 1.6rem;
            max-width: 90%;
          }
  
          blockquote {
            padding: 1.6rem;
  
            > * {
              margin-bottom: 1.6rem;
            }
          }
        }
      }
    }

  }

  @media only screen and (min-width: 720px) {

    section.posts {
      > h2 {
        flex: 0 1 auto;
        margin: 0;
      }
      > nav {
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 96rem;
        margin: 3.4rem auto 1.2rem;
        padding: 0 1.2rem 0 2.4rem;

        h2 {
          justify-content: flex-start;
          margin: 1.2rem 0;
        }
        nav.pagination {
          flex: 0 1 auto;
          margin: 1.2rem 0 1.2rem 1.2rem;
        }
        nav.actions {
          flex: 0 1 auto;
          margin: 1.2rem 0 0.4rem 2.4rem;
        }
      }
    }
    article.post {
      // 96rem plus 4.8rem padding
      max-width: 100.8rem;
      margin: auto;
      padding: 2.4rem 2.4rem 0;

      header {
        a.avatar {
          flex-basis: auto;
        }
        dl {
          margin: 0 0 0 2rem;
          padding: 1rem 1.2rem 0;
          border-top-left-radius: 0.6rem;
          border-top-right-radius: 0.6rem;

          &::before {
            width: 2rem;
            height: 2rem;
            top: 2.2rem;
            left: -1rem;
          }
          &::after {
            width: calc(100% - 2.4rem);
            bottom: 2.6rem;
            left: 1.2rem;
          }
        }
        dd.author,
        dd.time,
        dd.link {
          font-size: 100%;
        }
        dd.link {
          margin-left: 1.2rem;

          a {
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }
      section.content.post {
        margin: 0 0 0 8.4rem;
        padding: 0 2.4rem 0.8rem;
      }
      nav.actions {
        margin-left: 8.4rem;
        border-bottom-right-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
      }
      &.signature {
        nav.actions {
          border-radius: 0;
        }
        section.signature {
          margin-left: 8.4rem;
          border-bottom-right-radius: 0.6rem;
          border-bottom-left-radius: 0.6rem;
  
          section.staff {
            min-height: 7.2rem;
            padding-right: 2.4rem;
            padding-left: 7.4rem;
            font-size: 100%;
          }
          section.content {
            padding: 1.2rem;
            font-size: 85%;
          }
        }
      }
    }
    section.form {
      &.post {
        form {
          ul.data {
            li.subscribe {
              label {
                max-width: none;
              }
            }
          }
        }
      }
      &.quick-reply {
        margin-top: 6.4rem;
      }
    }

  }

  @media only screen and (min-width: 960px) {
    // First page
    &[data-page="1"] {
      article.post:first-of-type {
        nav.actions {
          padding: 1.2rem calc((100% - 96rem) / 2);
        }
        section.signature {
          padding: 0 calc((100% - 96rem) / 2);

          section.staff {
            padding-left: 8.8rem;
          }
          section.content {
            padding-right: 0;
          }
        }
      }
    }

    section.posts {
      > nav {
        border-radius: 0.6rem;
      }
    }
  }

  // Topic and announcement views (excludes start, move, etc.)
  &[data-view="topic"][data-page="1"],
  &[data-view="private-topic"][data-page="1"],
  &[data-view="announcement"][data-page="1"] {

    @media only screen and (min-width: 600px) {

      section.summary {
        min-height: 22vw;
        display: flex;
        flex-wrap: wrap;
        align-content: center;

        h1 {
          margin-left: 17vw;
          padding: 0;
        }
        a.avatar {
          margin: 0;
          position: absolute;
          top: 3vw;
          left: 0;
          width: 14vw;
          height: 14vw;
        }
        dl.byline {
          margin: 0.5vw 4vw 0 17vw;
          font-size: 110%;
          flex: 1 1 100%;
        }
      }

    }

    @media only screen and (min-width: 720px) {

      section.summary {
        min-height: 12.4rem;

        h1 {
          margin-left: 10.8rem;
        }
        a.avatar {
          top: 1.8rem;
          width: 8.8rem;
          height: 8.8rem;
        }
        dl.byline {
          margin: 0.6rem 12.8rem 0 10.8rem;
        }
      }
      article.post:first-of-type {
        max-width: none;

        section.content.post {
          margin: 0 auto;
          padding: 4.8rem 2.4rem;

          > * {
            // Matches the width of replies
            max-width: 74.4rem;
            margin-right: auto;
            margin-left: auto;
          }
        }
      }

    }

  }
  &[data-view="topic"]:not([data-page="1"]),
  &[data-view="private-topic"]:not([data-page="1"]),
  &[data-view="announcement"]:not([data-page="1"]) {

    @media only screen and (min-width: 600px) {
      section.summary {
        h1 {
          flex: 0 1 auto;
          margin-right: 0;
        }
      }
    }
    @media only screen and (min-width: 720px) {
      article.post:first-of-type {
        padding-top: 3.2rem;
      }
    }

  }

}

// Private topic view
body[data-controller="topic"][data-view="private-topic"],
body[data-controller="post"][data-view="private-topic"] {

  section.notice.private {
    svg {
      display: block;
      margin: 0 auto 4vw;
    }
  }

  @media only screen and (min-width: 720px) {
    section.notice.private {
      svg {
        margin: 0 auto 1.2rem;
      }
    }
  }

}

body[data-controller="topic"][data-view="start-announcement"] {
  section.form.topic-write {
    ul.data {
      li.discussions {
        ul.data {
          li.radio:nth-child(3) {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}