section.options
  include ../partials/sign-in-form

  section.help
    section.callout
      h2 Sign-In Help
      ul
        li Forgot your password? <a href="password-reset">Create a new password</a>
        li Didn't receive your activation e-mail? <a href="resend-activation">Resend your activation e-mail</a>
        li Don't have an account? <a href="register">Create an account now</a>
