header
  section.summary
    h1 Sign In
    p Don't have an account? <a href="register">Register now</a>!
    p Forgotten your password? <a href="password-reset">Create a new one</a>.
    p Never received your activation e-mai? <a href="resend-activation">Send it again</a>.

include ../partials/sign-in-form
