header
  include ../partials/breadcrumbs
  section.summary
    h1 #{discussion.title}
    if discussion.description
      p !{discussion.description}

section.topics
  header
    h2 #{discussion.topicsFormatted} Announcement#{ discussion.topics != 1 ? "s" : "" }
    include ../partials/pagination
    if session.moderate_discussions
      nav.actions
        ul
          li.new-announcement
            a(href="topic/action/startAnnouncement") Make an announcement
  if topics
    each topic in topics
      include ../partials/announcement
  else
    p There are no current announcements.

include ../partials/previous-and-next
