header
  section.summary
    h1 #{discussion.title}
    if discussion.description
      p !{discussion.description}

section.topics
  header
    nav
      include ../partials/pagination
      if session.moderateDiscussions
        nav.actions
          ul
            li.new-announcement
              a(href="topic/action/startAnnouncement") Make an announcement
  if topics
    each topic in topics
      include ../partials/announcement
  else
    p There are no current announcements.

include ../partials/previous-and-next
