if topics
  each topic in topics
    article(class="topic" + ( topic.unread ? " unread" : "" ) + ( topic.locked_by_id ? " locked" : "" ) data-topic-id=topic.id )
      h3
        a(href="announcement/" + topic.url + "/id/" + topic.id ) !{topic.title_html}
  article(class="topic view-all")
    h3
      a(href="announcements") More announcements
