h1 Authentication Required
p Your password is required to access your account.
p Forgotten your password? <a href="password-reset">Create a new one</a>.

section.sign-in-form
  form(action="sign-in/action/submit" method="post" novalidate)
    if authenticate && authenticate.message
      .messages
        ul
          li
            = authenticate.message
    .data
      input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
      input(name="loginReferrer" type="hidden" value="#{form.loginReferrer}")
      ul
        li.password.text.required
          label(for="password") Password
          input(id="password" name="password" type="password" value="#{form.password}" required)
    .actions
      ul
        li.primary
          input(name="formAction" type="submit" value="Sign in")
        li.secondary
          a(href="password-reset" title="Reset your forum password and have your login credentials e-mailed to you.") I forgot my login credentials...
