section.summary
  h1 Authentication required
  p For your security, we require your password to access this section.
  p Forgotten your password? <a href="password-reset">Create a new one</a>.

if authenticate && authenticate.message
  section.notice.error
    p #{authenticate.message}

section.sign-in-form
  form(action="sign-in/action/submit" method="post" novalidate)
    .data
      input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
      input(name="loginReferrer" type="hidden" value="#{form.loginReferrer}")
      input(name="authenticationMethod" type="hidden" value="password")
      ul
        li.password.text.required
          label(for="password") Password
          input(id="password" name="password" type="password" value="#{form.password}" required autofocus)
    .actions
      ul
        li.primary
          input(name="formAction" type="submit" value="Submit")
        li.secondary
          a(href="password-reset" title="Reset your forum password and have your login credentials e-mailed to you.") I forgot my login credentials...
