header
  section.summary
    h1 Reset your password
    p Have you forgotten your password? Provide the e-mail address associated with your account, and we'll send you a link to reset your password.

if message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-error"></use></svg>
    p !{message}

section.form.password-reset
  form(action="password-reset/action/form" method="post" novalidate)
    ul.data
      li.email.text.required
        label(for="email") E-mail address
        input#email(name="email" type="email" value=form.email required)

    ul.actions
      li.primary
        input(name="formAction" type="submit" value="Reset my password")
