h1 Your Account

section.options
  nav
    ul
      li
        a(href="account/action/avatar") Upload or delete your avatar
        p Your avatar is an image that appears next to your posts to help identify you to other members.
      li
        a(href="account/action/email") Change your e-mail address
        p Use your e-mail address to sign in and receive notifications
      li
        a(href="account/action/password") Change your password
      li
        a(href="account/action/signature") Edit your signature
      li
        a(href="account/action/regional") Set your timezone and formats
      li
        a(href="account/action/theme") Select a different theme
