h1
  != conversation.titleHtml
  
include ../partials/pagination      

nav.conversation
  ul
    li.reply
      a(href="#{route.pathname}/action/reply") Reply
          
section.messages
  if messages
    each message in messages
      include ../message/message
  else
    p This conversation has no replies. <a href="#{route.pathname}/action/reply">Why not weigh in?</a>

include ../partials/pagination
