header
  include ../partials/breadcrumbs
  section.summary
    h1 Topic Subscriptions
    p This is a list of topics you're following, sorted by most recent activity.

section.topics
  if topics
    if pagination && pagination.lastPage > 1
      nav
        include ../partials/pagination
    each topic in topics
      if topic.discussionID !== 2
        include ../partials/topic
      else
        include ../partials/announcement
  else
    p You're not subscribed to any topics.

include ../partials/previous-and-next
