section.summary
  h1 Topic Subscriptions

include ../partials/pagination

section.topics
  if topics
    each topic in topics
      include ../partials/topic
  else
    p You're not subscribed to any topics.

include ../partials/pagination
