//////////////////////////////
//      content styles      //
//////////////////////////////

body[data-controller="content"] {
  section.content {
    margin: 2.4rem 1.6rem 4.8rem;
    padding: 0;
  }
}


@media only screen and (min-width: 720px) {

  body[data-controller="content"] {
    section.content {
      margin: 4.4rem 2.4rem 6.4rem;
    }
  }

}


@media only screen and (min-width: 1024px) {

  body[data-controller="content"] {
    section.content {
      margin-right: auto;
      margin-left: auto;
    }
  }

}
