header
  section.summary
    h1 Reset your password
    p We sent you an e-mail with instructions on how to reset your password.
    p If you don't receive an e-mail, please <a href="contact">contact us</a>.
