h1 Reset your password
p Have you forgotten your password? Provide the e-mail address associated with your account, and we'll send you a link with instructions to reset your password.
section.sign-up-form
  form(action="password-reset/action/form" method="post" novalidate)
    if reset && reset.message
      p.message
        = reset.message
    .data
      ul
        li.email.text.required
          label(for="email") E-mail Address
          input#email(name="email" type="email" value="#{form.email}" required)
    .actions
      ul
        li.primary
          input(name="formAction" type="submit" value="Send password reset instructions")
